@import "./event/event.scss";
@import "./eventDescription/eventDescription.scss";
@import "./gameTimelineToggle/gameTimelineToggle.scss";
@import "./eventType/eventType.scss";

.game-timeline {
  margin-top: 20px;
  
  .game-event-group {
    &:nth-of-type(n + 2) {
      margin-top: 10px;  
    }

    .game-event-group-date {
      .label-text-wrapper {    
        h1 {
          height: 20px;
          line-height: 20px;
        }
      }
    }

    .game-event-group-events {
      border: 1px solid rgba(white, 0.2);
      border-radius: 6px;
      margin-top: 5px;
    }
  }

  .view-more-loading-icon {
    height: 100px;
    position: relative;
  }
}