.game-history {
  .game-history-table {
    padding: 0px;
    
    .table {
      table {
        .game-name,
        .game-ends-at {
          white-space: nowrap;
        }

        .game-name {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        tbody {
          tr {
            &:hover {
              background-color: rgba(white, 0.5);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .view-more-loading-icon {
    height: 100px;
    position: relative;
  }
}