.loading-icon-wrapper {
  backface-visibility: hidden;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 220px;

  &.blink {
    .loading-icon {
      img {
        animation: blink 3s ease-in-out infinite;  
      }
    }
  }

  &.spin {
    .loading-icon {
      img {
        animation: spinAndScale 2s ease-in-out infinite;  
      }
    }
  }

  .loading-icon {
    text-align: center;

    img {
      height: 50px;
      width: 50px;
    }
  }
}