#cookie-banner-wrapper {
  align-items: center;
  bottom: 0px;
  display: flex;
  justify-content: center;
  pointer-events: none;
  padding: 10px;
  position: fixed;
  width: calc(100% - 20px);
  z-index: 999999;

  #cookie-banner {
    align-items: center;
    background-color: white;
    border-radius: 6px;
    bottom: 0px;
    box-shadow: $shadow1;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 15px;
    pointer-events: all;

    .cookie-banner-content {    
      .cookie-banner-title {
        color: gray(40);
        font-size: 1.5em;
      }

      .cookie-banner-text {
        color: gray(60);
        margin-top: 10px;

        a {
          color: $themeMainAccent;
        }
      }
    }

    .cookie-banner-actions {
      display: flex;
      gap: 1em;

      .icon-button {
        background-color: rgba(black, 0.05);

        &:hover,
        &:focus {
          background-color: rgba(black, 0.1);
        }

        i {
          color: $themeMain;
          font-size: 1.5em;
        }
      }
    }
  }
}

@include phone-or-smaller {
  #cookie-banner-wrapper {
    padding-bottom: 70px;

    #cookie-banner {
      width: 100%;
    }
  }
}