@import "colors.scss";
@import "animations.scss";
@import "format.scss";
@import "responsive.scss";

@import "../../acceptedPayments/acceptedPayments.scss";
@import "../../animatedCounter/animatedCounter.scss";
@import "../../brand/brand.scss";
@import "../../buttons/buttons.scss";
@import "../../cookieBanner/cookieBanner.scss";
@import "../../confetti/confetti.scss";
@import "../../connectAStepTrackerMessage/connectAStepTrackerItem/connectAStepTrackerItem.scss";
@import "../../connectAStepTrackerMessage/connectAStepTrackerMessage.scss";
@import "../../copyButton/copyButton.scss";
@import "../../deleteAccountModal/deleteAccountModal.scss";
@import "../../dot/dot.scss";
@import "../../emptyMessage/emptyMessage.scss";
@import "../../exampleMatchup/exampleMatchup.scss";
@import "../../filterButton/filterButton.scss";
@import "../../form/form.scss";
@import "../../gameDateStatus/gameDateStatus.scss";
@import "../../gameDayRequirement/gameDayRequirement.scss";
@import "../../gameDayStatement/gameDayStatement.scss";
@import "../../gameDetails/gameDetails.scss";
@import "../../gameForm/gameForm.scss";
@import "../../gameInviteInput/gameInviteInput.scss";
@import "../../gameLink/gameLink.scss";
@import "../../gameFeed/gameFeed.scss";
@import "../../gameStats/gameStats.scss";
@import "../../howToPlayModal/howToPlayModal.scss";
@import "../../howToPlaySummary/howToPlaySummary.scss";
@import "../../iconStatement/iconStatement.scss";
@import "../../inputToggle/inputToggle.scss";
@import "../../inputWrapper/inputWrapper.scss";
@import "../../label/label.scss";
@import "../../leaderboard/leaderboard.scss";
@import "../../learnMoreLink/learnMoreLink.scss";
@import "../../loadingIcon/loadingIcon.scss";
@import "../../loadingMessage/loadingMessage.scss";
@import "../../matchupStatement/matchupStatement.scss";
@import "../../modal/modal.scss";
@import "../../navbar/navbar.scss";
@import "../../nav/nav.scss";
@import "../../noTrackerConnectedMessage/noTrackerConnectedMessage.scss";
@import "../../page/page.scss";
@import "../../playerLevelBadge/playerLevelBadge.scss";
@import "../../playerStatement/playerStatement.scss";
@import "../../pointStatement/pointStatement.scss";
@import "../../poweredByStripe/poweredByStripe.scss";
@import "../../profileHeader/profileHeader.scss";
@import "../../profileIcon/profileIcon.scss";
@import "../../returnRatioStatement/returnRatioStatement.scss";
@import "../../signInLink/signInLink.scss";
@import "../../signInModal/signInModal.scss";
@import "../../signInToDoThisMessage/signInToDoThisMessage.scss";
@import "../../statsSection/statsSection.scss";
@import "../../table/table.scss";
@import "../../tooltip/tooltip.scss";
@import "../../updateProfileModal/updateProfileModal.scss";
@import "../../updateTimer/updateTimer.scss";
@import "../../userLink/userLink.scss";
@import "../../userMenu/userMenu.scss";

@import "../../../pages/adminPage/adminPage.scss";
@import "../../../pages/contactUsPage/contactUsPage.scss";
@import "../../../pages/createGamePage/createGamePage.scss";
@import "../../../pages/gamePage/gamePage.scss";
@import "../../../pages/goodbyePage/goodbyePage.scss";
@import "../../../pages/homePage/homePage.scss";
@import "../../../pages/myGamesPage/myGamesPage.scss";
@import "../../../pages/notificationsPage/notificationsPage.scss";
@import "../../../pages/profilePage/profilePage.scss";
@import "../../../pages/shopPage/shopPage.scss";
@import "../../../pages/statsPage/statsPage.scss";
@import "../../../pages/userPage/userPage.scss";

html,
body {
  background: $themeMainGradient;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
  width: 100%;

  &::-webkit-scrollbar-track {
    background-color: $scrollBar;
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(white, 0.75);
    border-radius: 10px;
  }
}