@import "animations.scss";
@import "colors.scss";
@import "format.scss";
@import "responsive.scss";

@import "../../brand/brand.scss";
@import "../../buttons/buttons.scss";
@import "../../confetti/confetti.scss";
@import "../../copyButton/copyButton.scss";
@import "../../dot/dot.scss";
@import "../../emptyMessage/emptyMessage.scss";
@import "../../form/form.scss";
@import "../../gameDateStatus/gameDateStatus.scss";
@import "../../gameDetails/gameDetails.scss";
@import "../../gameForm/gameForm.scss";
@import "../../gameLink/gameLink.scss";
@import "../../gameGroup/gameGroup.scss";
@import "../../iconStatement/iconStatement.scss";
@import "../../inputWrapper/inputWrapper.scss";
@import "../../label/label.scss";
@import "../../leaderboard/leaderboard.scss";
@import "../../loadingIcon/loadingIcon.scss";
@import "../../loadingMessage/loadingMessage.scss";
@import "../../matchupStatement/matchupStatement.scss";
@import "../../modal/modal.scss";
@import "../../navbar/navbar.scss";
@import "../../nav/nav.scss";
@import "../../page/page.scss";
@import "../../playerStatement/playerStatement.scss";
@import "../../pointStatement/pointStatement.scss";
@import "../../profileHeader/profileHeader.scss";
@import "../../profileIcon/profileIcon.scss";
@import "../../signInModal/signInModal.scss";
@import "../../tooltip/tooltip.scss";
@import "../../updateProfileModal/updateProfileModal.scss";
@import "../../updateTimer/updateTimer.scss";
@import "../../userLink/userLink.scss";
@import "../../userMenu/userMenu.scss";

@import "../../../pages/gamePage/gamePage.scss";
@import "../../../pages/homePage/homePage.scss";
@import "../../../pages//howToPlayPage/howToPlayPage.scss";
@import "../../../pages/myGamesPage/myGamesPage.scss";
@import "../../../pages/profilePage/profilePage.scss";
@import "../../../pages/userPage/userPage.scss";

html,
body {
  background-color: gray(40);
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
  width: 100%;

  &::-webkit-scrollbar-track {
    background-color: gray(40);
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollBarColor;
    border-radius: 10px;
  }
}