@function gray($color) {
  @return rgb($color, $color, $color);
}

$red: rgb(239, 83, 80);
$orange: rgb(255, 160, 0);
$yellow: rgb(253, 216, 53);
$green: rgb(42, 252, 152);
$blue: rgb(45, 225, 252);
$indigo: rgb(57, 73, 171);
$violet: rgb(103, 58, 183);
$offWhite: rgb(246, 246, 248);

$lightGreen: rgb(199, 243, 145);

$gold: rgb(255, 193, 7);
$silver: rgb(190, 196, 200);
$bronze: rgb(205, 127, 50);

$history: rgb(25, 118, 210);

$shadow1: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
$shadow2: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
$shadow3: rgba(0, 0, 0, 0.12) 0px 10px 30px, rgba(0, 0, 0, 0.16) 0px 6px 10px;

$themeColor1: rgb(51, 105, 30);
$themeColor2: rgb(0, 151, 167);

$themeMain: $themeColor1;

$whiteGradient: linear-gradient(to right, rgba(white, 0.25), rgba(white, 0.05));
$whiteGradientHover: linear-gradient(to right, rgba(white, 0.25), rgba(white, 0.1));
$themeMainGradient: linear-gradient(to right, rgba($themeMain, 0.25), rgba($themeMain, 0.05));

$scrollBarColor: gray(90);