@mixin centered {  
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1,
p,
a,
span,
button,
input,
textarea,
select,
option,
th,
td {
  color: gray(100);
  font-size: 1em;
  margin: 0px;
}

.lobster-font {
  font-family: "Lobster", sans-serif;
}

.passion-one-font {
  font-family: "Passion One", sans-serif;
}

.highlight-main {
  color: $themeMainDark;
}

.highlight-white {
  color: white;
}

.highlight-warning {
  color: $yellow;
}

.highlight-error {
  color: $red;
}

.highlight-white {
  color: white;
}

.label.warning-message {  
  background-color: rgba($yellow, 0.5);
  border: 1px solid rgba($yellow, 0.8);  
  border-radius: 6px;
  display: flex;
  box-shadow: $shadow1;
  padding: 15px;
}

.scroll-bar {
  &::-webkit-scrollbar-track {
    background-color: gray(40);
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollBarColor;
    border-radius: 10px;
  }
}