@import "./event/event.scss";
@import "./eventDescription/eventDescription.scss";
@import "./eventType/eventType.scss";

.game-event-history {
  .game-event-group {
    &:nth-of-type(n + 2) {
      margin-top: 10px;  
    }

    .game-event-group-date {
      .label-text-wrapper {    
        h1 {
          height: 20px;
          line-height: 20px;
        }
      }
    }

    .game-event-group-events {
      padding: 10px 0px;
    }
  }
}