@import "./event/event.scss";
@import "./eventDescription/eventDescription.scss";

.game-event-history {
  .game-event-group {
    .game-event-group-date {
      display: flex;

      &:after {
        background-color: rgba(white, 0.6);
        content: "";
        height: 1px;
        left: 0px;
        position: absolute;
        top: 9px;
        width: 100%;
      }

      i,
      .label-text-wrapper {
        background-color: gray(30);
        padding-right: 5px;
      }

      i {
        margin-left: 10px;
        padding-left: 10px;
      }

      .label-text-wrapper {    
        padding-right: 10px;

        h1 {
          height: 20px;
          line-height: 20px;
          margin-left: 0px;
        }
      }
    }

    .game-event-group-events {
      padding: 10px 0px;
    }
  }
}