@import "./playerLevelBadgeExperienceBar/playerLevelBadgeExperienceBar.scss";

.player-level-badge {
  background: $whiteGradient;
  border-radius: 6px;
  box-shadow: $shadow1;
  padding: 5px;

  .player-level-badge-content { 
    border: 1px solid rgba(white, 0.5);
    border-radius: 6px;
    padding: 10px;

    .player-level-badge-level-content {
      align-items: center;
      display: flex;
      gap: 1em;
      justify-content: center;

      .icon-button {
        background-color: transparent;

        i {
          color: white;
          font-size: 1em;
          height: 30px;
          line-height: 30px;
          width: 30px;
        }
      }

      .player-level-badge-icon,
      .player-level-badge-label {
        color: white;      
      }

      .player-level-badge-icon {
        font-size: 2.5em;
      }

      .player-level-badge-label {
        font-size: 3em;
      }
    }

    .player-level-badge-experience-label {
      color: gray(40);
      font-size: 0.8em;
      text-align: center;
    }
  }
}

.player-level-mini-badge-wrapper {
  text-align: center;
  
  &.clickable {
    &:hover {
      .player-level-mini-badge {
        cursor: pointer;
      }
    }
  }

  &.inline {
    display: inline-flex;

    .player-level-mini-badge {
      gap: 0.25em;
      padding: 2px 4px;

      i {
        font-size: 0.6em;
      }

      > h1 {
        font-size: 0.8em;
      }
    }
  }

  .player-level-mini-badge {
    align-items: center;
    background-color: rgba(white, 0.25);
    border-radius: 100px;
    display: inline-flex;
    gap: 0.5em;
    justify-content: center;
    min-width: 30px;
    padding: 4px 12px;
    position: relative;

    &:hover {
      .tooltip {
        opacity: 1;
      }
    }

    .player-level-badge-icon,
    .player-level-badge-label {
      color: white;      
    }

    .player-level-badge-icon {
      font-size: 1em;
    }

    .player-level-badge-label {
      font-size: 1.5em;
    }
  }
}

@include small-phone-or-smaller {
  .player-level-badge {
    .player-level-badge-content {
      .player-level-badge-level-content {
        gap: 0.5em;

        .player-level-badge-icon {
          font-size: 1.5em;
        }

        .player-level-badge-label {
          font-size: 2em;
        }
      }
    }
  }
}