.player-level-badge {
  background-color: white;
  border-radius: 6px;
  padding: 5px;

  .player-level-badge-content { 
    align-items: center;
    border: 1px solid rgba($themeMainCustom, 0.5);
    border-radius: 6px;
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 10px;

    .icon-button {
      i {
        color: gray(40);
        font-size: 1em;
        height: 30px;
        line-height: 30px;
        width: 30px;
      }
    }

    .player-level-badge-icon,
    .player-level-badge-label {
      color: $themeMainCustom;      
    }

    .player-level-badge-icon {
      font-size: 2.5em;
    }

    .player-level-badge-label {
      font-size: 3em;
    }
  }
}

@include small-phone-or-smaller {
  .player-level-badge {
    .player-level-badge-content {
      .player-level-badge-icon {
        font-size: 1.5em;
      }

      .player-level-badge-label {
        font-size: 2em;
      }
    }
  }
}