.game-page-content {
  padding-bottom: 40px;
  position: relative;

  .game-page-header {
    display: flex;
    justify-content: space-between;
  }

  .game-page-body {
    margin-top: 5px;

    .game-name {
      color: white;
      font-size: 2em;
    }

    .game-dates {
      position: relative;
      z-index: 4;

      i,
      .label-text-wrapper > h1 {
        color: gray(40);
      }
    }

    .game-action-bar {
      display: flex;
      margin: 10px 0px;
    }

    .minimum-player-requirement-message-wrapper {
      background-color: rgba(white, 0.1);
      border: 1px solid rgba(white, 0.25);  
      border-radius: 6px;
      display: inline-block;
      padding: 10px;

      .minimum-player-requirement-message {
        h1 {
          color: white;
        }
      }

      .game-action-button {
        margin-left: 10px;
        margin-right: 0px;
      }
    }

    .leaderboard {
      margin-top: 10px;
    }
  }
}