.game-page-content {
  padding-bottom: 40px;
  position: relative;

  .game-page-header {
    display: flex;
    justify-content: space-between;
  }

  .game-page-body {
    margin-top: 5px;

    .game-name {
      color: white;
      font-size: 2em;
    }

    .game-action-bar {
      display: flex;
      margin-top: 10px;
    }

    .leaderboard {
      margin-top: 20px;
    }
  }
}