.game-page-content {
  padding-bottom: 40px;
  position: relative;

  .game-page-header {
    position: relative;
    
    .user-link {
      display: flex;
    }

    .label.game-date-status {
      margin: 8px 0px;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }

  .game-page-body {
    margin-top: 5px;

    .game-name {
      color: white;
      font-size: 2em;
    }

    .game-action-bar {
      display: flex;
      margin-top: 10px;
    }

    .leaderboard {
      margin-top: 20px;
    }
  }
}