.starting-soon-message {
  margin-top: 10px;

  .starting-soon-message-border {
    background-color: $themeMain;
    border-radius: 4px;
    height: 4px;
  }

  .loading-message {
    background: linear-gradient(to bottom, rgba($themeMain, 0.05), transparent);   
    border-radius: 4px;
    margin-top: 5px;

    .loading-message-border {
      display: none;
    }

    .loading-message-content {
      background: transparent;
    }
  }
}