.game-details {
  align-items: center;
  position: relative;
  z-index: 3;

  .game-labels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;

    .label {
      background-color: gray(20);
      border-radius: 100px;
      color: gray(230);
      padding: 5px 15px;
      pointer-events: all;
    }

    .game-duration,
    .game-mode {
      margin-right: 10px;
    }
  }
}

@include small-phone-or-smaller {
  .game-details {
    width: 100%;
  }
}