.game-details {
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 3;

  .game-labels {
    display: flex;

    .label {
      background-color: gray(20);
      border-radius: 100px;      
      margin-right: 5px;
      padding: 5px 15px;
      pointer-events: all;

      > h1 {
        color: white;
      }
    }
  }
}

@include small-phone-or-smaller {
  .game-details {
    width: 100%;
  }
}