.game-details {
  align-items: center;
  position: relative;
  z-index: 3;

  .game-labels {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr); 
    margin-top: 5px;

    .label {
      background-color: gray(20);
      border-radius: 100px;      
      padding: 5px 15px;
      pointer-events: all;

      > h1 {
        color: gray(230);
      }
    }
  }
}

@include small-phone-or-smaller {
  .game-details {
    width: 100%;
  }
}