@import "./components/homePagePanel/homePagePanel.scss";

#home-page {
  .sign-in-link,
  .how-to-play-link {
    align-items: center;
    border: 1px solid rgba(white, 0.25);
    display: flex;
    justify-content: center;
    padding: 20px;

    i, h1 {
      color: white;
      font-size: 2em;
    }

    h1 {
      margin-left: 20px;
    }
  }

  .link-divider {
    color: white;
    margin: 20px 0px;
    text-align: center;
  }

  .sign-in-link {
    margin-top: 40px;
    width: 100%; 
  }
}

@include phone-or-smaller {  
  #home-page {
    .sign-in-link,
    .how-to-play-link {
      i, h1 {
        font-size: 1.5em;
      }
    }
  }
}