#home-page {
  #game-invite-input-wrapper,
  .learn-more-links {
    margin-bottom: 20px;
  }

  .learn-more-links {
    .learn-more-link {     
      .learn-more-link-content {   
        i, h1 {
          color: white;
          font-size: 3em;
        }
      }
    }
  }
}

@include small-tablet-or-smaller {
  #home-page {
    .learn-more-links {
      .learn-more-link {
        .learn-more-link-content {   
          i, h1 {
            font-size: 2.5em;
          }
        }
      }
    }
  }
}

@include phone-or-smaller {
  #home-page {
    .learn-more-links {
      .learn-more-link {
        .learn-more-link-content {   
          i, h1 {
            font-size: 2em;
          }
        }
      }
    }
  }
}

@include small-phone-or-smaller {
  #home-page {
    .learn-more-links {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
      
      .learn-more-link {
        .learn-more-link-content {         
          flex-direction: row;      
          height: 60px;

          i, h1 {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}