.point-statement {
  align-items: center;
  display: inline-flex;
  vertical-align: top;
  white-space: nowrap;
  
  i {
    color: $themeMain;
    font-size: 0.6em;
  }

  span {
    margin-left: 4px;
  }
}