.point-statement {
  white-space: nowrap;

  i, span {    
    color: $blue;
  }
  
  i {
    font-size: 0.7em;
  }

  span {    
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(black, 0.8);
  }
}