.accepted-payments {
  border: 1px solid white;
  border-radius: 4px;
  display: inline-block;
  padding: 8px;
  
  .accepted-payment {
    color: white;
    font-size: 2em;
    margin-right: 5px;
  }
}