.accepted-payments {
  display: inline-block;
  
  .accepted-payment {
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-size: 2em;
    height: 50px;
    line-height: 50px;
    margin-left: 5px;
    padding: 0px 10px;
  }
}