.button.event-history-toggle {       
  align-items: center;
  background-color: transparent; 
  border: 1px solid rgba(white, 0.25);
  border-radius: 100px;
  display: flex;
  padding: 5px 15px;

  &:hover,
  &:focus {
    background-color: rgba($themeMain, 0.1);
  }

  > i {
    font-size: 0.8em;
  }

  h1 {
    color: gray(230);
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
  }
}