.tooltip {
  opacity: 0;
  pointer-events: none;
  position: absolute;  
  transition: all 0.25s;
  z-index: 100;

  &.bottom {
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 100%);

    h1 {
      &:after {
        left: 50%;
        position: absolute;
        top: -5px;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }
  
  &.left {
    left: -12px;
    top: 50%;
    transform: translate(-100%, -50%);

    h1 {
      &:after {        
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  &.right {
    right: -12px;
    top: 50%;
    transform: translate(100%, -50%);

    h1 {
      &:after {
        left: -5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  h1 {
    background-color: gray(60);
    border-radius: 6px;
    box-shadow: $shadow2;
    color: white;
    font-size: 1em;
    padding: 10px;
    white-space: nowrap;

    &:after {
      background-color: inherit;
      content: "";
      height: 10px;
      width: 10px;
    }
  }
}