.game-event {
  background-color: rgba(white, 0.05);
  display: flex;
  padding: 10px;

  &:nth-of-type(n + 2) {
    border-top: 1px solid rgba(white, 0.2);
  }

  .game-event-color-indicator {    
    border-radius: 10px;
    width: 4px;
  }

  .game-event-content {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    flex-grow: 1;
    margin-left: 5px;
    padding: 10px;

    .game-event-header {
      display: flex;
      justify-content: space-between;

      .game-event-time {
        width: 100px;

        h1 {
          color: gray(230);
          text-align: right;
        }
      }
    }
  }
}