.leaderboard-row {  
  display: flex;
  position: relative;

  &:nth-of-type(n + 2) {
    margin-top: 10px;
  }

  .leaderboard-row-content {
    align-items: center;
    background: linear-gradient(to right, rgba(white, 0.1), transparent 80%);   
    border-radius: 4px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 5px;

    .leaderboard-row-place-and-player {
      align-items: center;
      display: flex;

      .leaderboard-row-place {  
        color: white;  
        text-align: center;
        width: 20px;
      }

      .user-link {
        margin-left: 5px;
      }
    }


    .leaderboard-row-points {  
      align-items: center;
      color: white;
      display: flex;
      justify-content: center;

      i {
        font-size: 0.7em;
      }

      .animated-counter {
        margin-left: 5px;

        h1 {
          color: white;
        }
      }
    }
  }
}

@include small-phone-or-smaller {
  .leaderboard-row {  
    .leaderboard-row-content {      
      .leaderboard-row-place-and-player {
        .user-link {
          .user-link-content {
            .user-link-username-wrapper {
              .user-link-username {
                max-width: 100px;
              }
            }
          }
        }
      }
    }
  }
}