.leaderboard-remaining-row {  
  display: flex;
  position: relative;

  &:nth-of-type(n + 2) {
    margin-top: 10px;
  }

  .leaderboard-remaining-row-border {
    background-color: white;
    border-radius: 10px;
    flex-shrink: 0;
    width: 4px;
  }

  .leaderboard-remaining-row-content {
    align-items: center;
    background: linear-gradient(to right, rgba(white, 0.05), transparent 80%);   
    border-radius: 4px;
    display: flex;
    flex-grow: 1;
    margin-left: 5px;
    padding: 5px 10px;

    .leaderboard-row-place,
    .leaderboard-row-icon {
      color: gray(230);
    }
    
    .leaderboard-row-place {    
      text-align: center;
      width: 20px;
    }

    .leaderboard-row-icon {
      font-size: 0.9em;
      margin-left: 10px;
      text-align: center;
    }

    .leaderboard-row-player-and-points {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      margin-left: 10px;

      .leaderboard-row-points {  
        align-items: center;
        color: gray(230);
        display: flex;
        justify-content: center;

        i {
          font-size: 0.7em;
        }

        .animated-counter {
          margin-left: 5px;

          h1 {
            color: gray(230);
          }
        }
      }
    }
  }
}

@include small-phone-or-smaller {
  .leaderboard-remaining-row {  
    .leaderboard-remaining-row-content {      
      .leaderboard-row-player-and-points {
        .user-link {
          .user-link-content {
            .user-link-username-wrapper {
              .user-link-username {
                max-width: 90px;
              }
            }
          }
        }
      }
    }
  }
}