.player-statement {
  align-items: center;
  display: inline-flex;
  margin-left: 2px;
  vertical-align: top;
  white-space: nowrap;
  
  i {
    font-size: 0.8em;
  }

  span {
    margin-left: 4px;
  }
}