.page {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;

  .page-content-wrapper {
    animation: fadeIn 400ms ease-in;
    margin: auto;
    margin-top: 90px;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    z-index: 2;

    .page-content {
      border-right: 1px solid rgba(white, 0.2);
      margin-left: 250px;
      margin-right: 60px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      
      .page-title {   
        margin: 20px 0px;
        margin-top: 0px;
        position: relative;

        &:after {
          background-color: $themeMain;
          bottom: -4px;
          content: "";
          height: 2px;
          left: 0px;
          position: absolute;
          width: 50px;
        }

        .close-button {  
          background-color: transparent;      
          position: absolute;
          right: 0px;
          top: 0px;
          
          &:hover,
          &:focus {
            background-color: $themeMain;
            color: white;
          }
        }

        h1 {
          color: gray(230);
          font-size: 2em;
          text-align: left;
        }
      }

      .page-message {
        animation: fadeIn 400ms ease-in;
        z-index: 2;
    
        h1 {
          color: rgba(white, 0.8);
          font-size: 1.5em;
          text-align: center;
        }
    
        .page-message-action {
          display: block;
          font-size: 2em;
          margin: auto;
          margin-top: 10px;
          text-align: center;
          width: 200px;
        }
      }

      .page-loading-icon {
        height: 200px;
        max-height: 50vh;
        position: relative;
      }
    }
  }

  .page-background-graphic-image {
    @include centered;
    opacity: 0.1;
    height: 90vh;
  }
}

@include tablet-or-smaller {
  .page {
    .page-content-wrapper {
      .page-content {
        border-right: none;
        margin-left: 50px;
        margin-right: 0px;
      }
    }

    .page-background-graphic-image {
      width: 80vw;
    }
  }
}

@include phone-or-smaller {
  .page {
    .page-content-wrapper {
      margin-bottom: 70px;

      .page-content {
        margin-left: 0px;

        .page-title {    
          h1 {
            font-size: 1.5em;
          }
        }
      }
    }

    .page-background-graphic-image {
      width: 120vw;
    }
  }
}