.icon-selector {
  background-color: rgba(white, 0.1);
  border-radius: 6px;  
  padding: 10px;

  .icon-selector-tiers {
    max-height: 400px;
    overflow: auto;
    padding: 0px 5px;

    .icon-selector-tier {
      &:nth-of-type(n + 2) {
        margin-top: 20px;
      }

      &.locked {
        .icon-selector-tier-options {
          background-color: rgba(white, 0.15);
          border: none;

          .icon-selector-tier-locked-icon {
            display: block;
            font-size: 2em;
          }
          
          .icon-selector-option:disabled {
            opacity: 0.6;
          }
        }
      }

      .icon-selector-tier-options {
        border: 1px solid rgba(white, 0.25);
        border-bottom: none;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;  
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); 
        padding: 10px;
        position: relative;

        .icon-selector-tier-locked-icon {
          @include centered;
          color: white;
          display: none;
          position: absolute;
        }

        .icon-selector-option {
          &:not(:disabled):hover,
          &:not(:disabled):focus,
          &.selected {
            background-color: rgba(white, 0.25);
          }

          &:disabled {
            opacity: 0.8;
          }

          i {
            font-size: 1.5em;
            text-shadow: 0px 0px 2px rgba(black, 0.4);
          }
        }
      }
      
      .icon-selector-tier-labels {
        align-items: center;
        background-color: rgba(white, 0.15);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px; 
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;

        .icon-selector-tier-label {
          &.icon-selector-tier-number-label {
            text-align: left;
          }

          &.icon-selector-tier-level-label {
            text-align: right;
          }

          .icon-selector-tier-label-value {
            color: gray(60);
            font-size: 1.8em;
            height: 22px;
            line-height: 22px;
          }

          .icon-selector-tier-label-text {
            color: white;
            font-size: 0.8em;
            margin-top: 2px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}