.icon-selector {
  background-color: rgba(white, 0.1);
  border-radius: 6px;  
  padding: 10px;

  .icon-selector-tiers {
    max-height: 400px;
    overflow: auto;
    padding: 0px 5px;

    .icon-selector-tier {
      &:nth-of-type(n + 2) {
        margin-top: 20px;
      }

      .icon-selector-tier-options {
        border: 1px solid rgba(white, 0.25);
        border-radius: 6px;  
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); 
        padding: 10px;

        .icon-selector-option {
          &:not(:disabled):hover,
          &:not(:disabled):focus,
          &.selected {
            background-color: rgba(white, 0.25);
          }

          &:disabled {
            opacity: 0.4;
          }

          i {
            font-size: 1.5em;
            text-shadow: 0px 0px 2px rgba(black, 0.4);
          }
        }
      }
      
      .icon-selector-tier-label {
        color: white;
        font-size: 1em;
        margin-left: 10px;
        margin-top: 5px;
      }
    }
  }
}