.connect-a-step-tracker-message {
  background-color: rgba(white, 0.05);
  border: 2px solid rgba(white, 0.5);
  border-radius: 10px;   
  margin-bottom: 20px;
  padding: 10px;

  .connect-a-step-tracker-message-label {
    color: white;
    font-size: 1.5em;
    text-align: center;
  }
   
  .connect-a-step-tracker-items {     
    display: flex;
    margin-top: 20px;

    .connect-a-step-tracker-item {      
      &:first-of-type {
        border-right: 1px solid rgba(white, 0.25);
      }
    }
  }

  .go-to-profile-button {
    margin-top: 20px;
    text-align: center;
    width: calc(100% - 40px);

    h1 {
      color: white;
      font-size: 1.5em;
    }
  }
}