.step-tracker-hub {
  border: 1px solid rgba(white, 0.25);
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px;
  padding-top: 20px;
  position: relative;

  .step-tracker-hub-label {
    background-color: gray(30);
    height: 20px;
    line-height: 20px;
    left: 0px;
    margin-left: 20px;
    padding: 0px 10px;
    position: absolute;
    top: -10px;

    .label {
      color: gray(200);
      text-transform: uppercase;
    }
  }

  .step-tracker-links {
    .step-tracker-link,
    .connected-step-tracker-link {
      align-items: center;
      display: flex;

      &:nth-child(n + 2) {
        margin-top: 10px;
      }

      img {
        height: 50px;
      }

      h1 {
        color: gray(230);
        font-size: 1.5em;
        height: 20px;
        line-height: 20px;
        margin-left: 10px;
        text-transform: uppercase;
      }

      .connecting-icon {        
        animation: spin 2s ease-in-out infinite;  
        color: $themeMain;
        font-size: 1.5em;
        margin-left: 20px;
      }
    }

    .step-tracker-link {
      border: 1px solid rgba(white, 0.2);
      justify-content: center;

      &:hover,
      &:focus {
        background-color: rgba($themeMain, 0.3);
        border-color: $themeMain;
      }
    }

    .connected-step-tracker-link {
      background: rgba(white, 0.1);
      border: 1px solid rgba(white, 0.2);
      border-radius: 6px;
      justify-content: flex-start;
      padding: 10px;
      position: relative;
      
      h1 {
        span {
          color: $themeMain;
          font-size: 0.75em;
          height: 20px;
          line-height: 20px;
          margin-left: 5px;
          vertical-align: top;
        }
      }

      .disconnect-step-tracker-button {   
        background-color: transparent;     
        margin: 10px;
        position: absolute;
        right: 0px;

        &:hover,
        &:focus {
          background-color: rgba(white, 0.1);
          
          i {
            color: $themeMain;
          }
        }

        i {
          font-size: 1.5em;
          height: 40px;
          line-height: 40px;
          width: 40px;
        }
      }
    }
  }
}

@include phone-or-smaller {
  .step-tracker-hub {
    .step-tracker-hub-label {
      background-color: gray(40);     
    }
    
    .step-tracker-links {
      .step-tracker-link,
      .connected-step-tracker-link {
        img {
          height: 30px;
        }

        h1 {
          font-size: 1em;
          height: 20px;
          line-height: 20px;
        }

        .connecting-icon {        
          font-size: 1em;
          margin-left: 10px;
        }
      }
      
      .connected-step-tracker-link {
        h1 {
          span {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}