.app-brand {
  align-items: center;
  display: inline-flex;
  height: 50px;
  outline: none;
  pointer-events: all;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    i, .app-brand-name {
      text-shadow: 0px 0px 8px rgba($themeMain, 0.5);
    }
  }

  i, .app-brand-name {
    color: $themeMain;
  }

  i {
    font-size: 1.5em;
    text-align: center;
    width: 30px;
  }

  .app-brand-name { 
    font-size: 1.25em;
    line-height: 20px;
    margin-left: 5px;
  }

  .app-brand-beta-label {
    background: linear-gradient(to right, rgba($themeMain, 0.25), rgba($themeSecondary, 0.25));    
    border: 1px solid $themeMain;
    border-radius: 100px;    
    color: gray(230);
    font-size: 0.8em;
    padding: 2px 8px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: 50%;
    transform: translate(100%, -50%);
  }
}
