.app-brand {
  align-items: center;
  display: inline-flex;
  height: 60px;
  outline: none;
  pointer-events: all;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  img {
    height: 60px;
  }
}