.no-tracker-connected-message-wrapper {
  animation: warningBackground 5s ease-in-out infinite;  
  border: 1px solid rgba(white, 0.25);  
  border-radius: 6px;
  box-shadow: $shadow1;
  display: inline-flex;
  padding: 15px 10px;
  pointer-events: all;

  .no-tracker-connected-message {
    height: 30px;
    margin-right: 10px;
    white-space: normal;

    i {
      color: $yellow;
      font-size: 1.25em;
    }

    .label-text-wrapper {      
      margin-left: 5px;

      h1 {
        font-size: 1.25em;
      }
    }
  }

  .game-action-button {
    border: 1px solid rgba(white, 0.75);
    display: inline-block;
    margin-right: 0px;

    i {
      padding: 5px 10px;
    }
  }
}