#sign-in-modal {
  .sign-in-buttons {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr)); 

    .sign-in-button {
      background: white;
      border: 1px solid rgba(white, 0.2);
      margin-top: 10px;
      width: 100%;

      &:hover,
      &:focus {
        background: gray(230);
      }

      img {
        height: 30px;
        margin: 5px 0px;
        width: 30px;
      }
    }

    #twitter-sign-in-button {
      .sign-in-button-logo {
        img {
          height: 40px;
          margin: 0px;
          width: 40px;
        }
      }
    }
  }

  #sign-in-disclaimer {
    margin-top: 10px;

    h1 {
      color: white;

      a {
        color: $green;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

@include phone-or-larger {
  #sign-in-modal {
    .modal-content-wrapper {
      width: 540px;
    }
  }
}