#sign-in-modal {
  .sign-in-buttons {
    display: flex;
    gap: 1em;

    .sign-in-button {
      align-items: center;
      background: white;
      border: 1px solid rgba(white, 0.2);
      display: flex;
      justify-content: center;
      padding: 15px 10px;
      width: 100%;

      &:hover,
      &:focus {
        background: gray(230);
      }

      .sign-in-button-content {
        align-items: center;
        display: flex;
        gap: 1em;
        justify-content: flex-start;

        .sign-in-button-logo {
          height: 30px;
          width: 30px;
        }

        .sign-in-button-text {
          color: gray(120);
          font-size: 1em;
        }
      }
    }
  }

  #sign-in-disclaimer {
    margin-top: 10px;

    h1 {
      color: white;

      a {
        color: $blue;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

@include phone-or-larger {
  #sign-in-modal {
    .modal-content-wrapper {
      width: 540px;
    }
  }
}

@include small-phone-or-smaller {
  #sign-in-modal {
    .sign-in-buttons {
      flex-direction: column;

      .sign-in-button {
        .sign-in-button-content {
          width: 120px;
        }
      }
    }
  }
}