.game-matchups {
  margin-top: 20px;

  .game-matchups-title {
    .game-matchups-title-text {
      color: gray(230);
      font-size: 2em;
    }
    
    .game-matchups-title-date {
      color: gray(150);
      font-size: 1.25em;
    }

    .game-day-status {
      margin-top: 5px;
    }
  }

  .game-matchups-list {
    border: 2px solid rgba(white, 0.25);    
    border-bottom: 2px solid transparent;
    border-radius: 10px;
    border-top: 2px solid transparent;
    margin-top: 10px;
  }
}