#delete-account-modal {
  .modal-content-wrapper {
    .modal-content {
      p {
        color: white;
        font-size: 1.25em;

        &:nth-of-type(n + 2) {
          margin-top: 10px;
        }
      }

      .delete-account-button {
        width: 100%;

        &:nth-of-type(n + 2) {
          margin-top: 10px;
        }

        h1 {
          font-size: 1.5em;
        }
      }
    }
  }
}

@include phone-or-larger {
  #delete-account-modal {
    .modal-content-wrapper {
      width: 540px;
    }
  }
}