.label.combo.date-status {
  align-items: center;
  color: gray(200);
  display: flex;
  position: relative;
  z-index: 4;

  i { 
    font-size: 0.8em;
  }

  .label-text-wrapper > h1 {    
    margin-left: 5px;
  }
}