.game-stats-wrapper {
  .game-stats-table {
    padding: 0px;
  }

  .game-stats {
    display: flex;
    gap: 1em;
    margin-top: 10px;

    .game-stat {
      border: 2px solid rgba(white, 0.5);
      border-radius: 6px;
      flex-grow: 1;
      padding: 10px 20px;

      .game-stat-value {            
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 0.5em;

        h1, i {
          color: white;
        }

        i {
          font-size: 1.5em;
        }

        h1 {              
          font-size: 3em;
        }
      }
      
      .game-stat-daily-value {  
        color: white;
        text-align: center;
      }
    }
  }
}

@include phone-or-smaller {
  .game-stats-wrapper {
    .game-stats {
      .game-stat {
        .game-stat-value {
          i {
            font-size: 0.9em;
          }

          .label-text-wrapper {  
            h1 {              
              font-size: 1.5em;
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}