.game-stats {
  display: flex;
  gap: 1em;

  .game-stat-wrapper {
    background: $whiteGradient;
    border-radius: 1000px;
    box-shadow: $shadow1;
    flex-grow: 1;
    padding: 5px;
    
    .game-stat {
      align-items: center;
      border: 1px solid rgba(white, 0.5);
      border-radius: 1000px;
      display: flex;
      justify-content: center;
      gap: 1em;
      padding: 10px 20px;

      .game-stat-icon {
        border-right: 1px solid rgba(white, 0.25);
        color: white;
        font-size: 2.5em;
        padding-right: 15px;
      }

      .game-stat-details {      
        .game-stat-value { 
          h1 {
            color: white;           
            font-size: 2.5em;
          }
        }
        
        .game-stat-daily-value {  
          color: white;
        }
      }
    }
  }
}

.game-stats-table {  
  box-shadow: $shadow1;
}

@include medium-phone-or-smaller {
  .game-stats {
    .game-stat-wrapper {
      .game-stat {
        gap: 0.8em;
        padding: 10px;

        .game-stat-icon {
          font-size: 2em;
        }

        .game-stat-details {      
          .game-stat-value {  
            h1 {        
              font-size: 2em;
            }
          }
        }
      }
    }
  }
}

@include small-phone-or-smaller {
  .game-stats {
    gap: 0.5em;

    .game-stat-wrapper {
      .game-stat {
        gap: 0.5em;

        .game-stat-icon {
          font-size: 1.5em;
          padding-right: 8px;
        }

        .game-stat-details {      
          .game-stat-value {    
            h1 {        
              font-size: 1em;
            }
          }
        
          .game-stat-daily-value {  
            font-size: 0.9em;
          }
        }
      }
    }
  }
}