.game-stats {
  display: flex;
  gap: 1em;

  .game-stat {
    align-items: center;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 1em;
    padding: 10px 20px;

    .game-stat-icon {
      font-size: 3em;
    }

    .game-stat-details {      
      .game-stat-value { 
        h1 {
          color: gray(40);           
          font-size: 3em;
        }
      }
      
      .game-stat-daily-value {  
        color: gray(40);
      }
    }
  }
}

@include medium-phone-or-smaller {
  .game-stats {
    .game-stat {
      gap: 0.8em;
      padding: 10px;

      .game-stat-icon {
        font-size: 2em;
      }

      .game-stat-details {      
        .game-stat-value {  
          h1 {        
            font-size: 2em;
          }
        }
      }
    }
  }
}

@include small-phone-or-smaller {
  .game-stats {
    .game-stat {
      .game-stat-icon {
        font-size: 1.5em;
      }

      .game-stat-details {      
        .game-stat-value {    
          h1 {        
            font-size: 1.25em;
          }
        }
      }
    }
  }
}