@import "./components/durationSelector/durationSelector.scss";
@import "./components/lockGame/lockGame.scss";
@import "./components/modeSelector/modeSelector.scss";

#game-form {
  .start-date-section {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1em), 1fr)); 

    .input-wrapper {
      margin-top: 0px;
    }
  }

  .game-day-requirement-section {
    align-items: center;
    background: linear-gradient(135deg, gray(40), gray(20));
    border: none;
    box-shadow: $shadow1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;

    > h1 {
      color: white;
      padding-right: 10px;
    }

    .go-to-store-button.button.fancy-button {
      align-items: center;
      display: flex;
      padding: 5px 10px;

      i, h1 {
        color: white;
      }
    }
  }
}

@include phone-or-smaller {
  #game-form {
    .start-date-section {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));    
    }
  }
}