.how-to-play-summary-panel-wrapper {
  &:nth-of-type(n + 2) {
    margin-top: 80px;
  }

  .how-to-play-summary-panel {   
    align-items: center;
    display: flex;
    height: 400px;
    position: relative;

    &.mobile {
      display: none;
    }

    .how-to-play-summary-panel-image {
      flex-shrink: 0;
      height: 400px;
      position: relative;
      width: 400px;
      z-index: 1;

      .svg-blob {   
        height: 450px;
        width: 450px;
        z-index: 1;
      }
    
      img {
        @include centered;
        height: 300px;
        position: absolute;
        z-index: 2;
      }
    }

    .how-to-play-summary-panel-content {  
      padding: 10px;
      z-index: 2;

      .how-to-play-summary-panel-title {
        color: gray(40);
        font-size: 2.5em;
      }

      .how-to-play-summary-panel-text {
        color: white;
        font-size: 1.25em;
        margin-top: 10px;
      }
    }
  }
}

@include small-tablet-or-smaller {
  .how-to-play-summary-panel-wrapper {
    .how-to-play-summary-panel {   
      flex-direction: column;
      margin: auto;
      
      > :nth-child(2) {        
        margin-left: 0px;
        margin-top: 00px;
      }
      
      &.mobile {
        display: flex;
      }

      
      &.desktop {
        display: none;
      }
      
    .how-to-play-summary-panel-image {
      flex-shrink: 0;
      height: 300px;
      position: relative;
      width: 300px;
      z-index: 1;

      .svg-blob {   
        height: 400px;
        width: 400px;
        z-index: 1;
      }
    
      img {
        @include centered;
        height: 250px;
        position: absolute;
        z-index: 2;
      }
    }

      .how-to-play-summary-panel-content {   
        .how-to-play-summary-panel-title {
          font-size: 2em;
        }
      }
    }
  }
}