.label {
  align-items: center;
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  z-index: 1;
  
  &:hover,
  &:focus {
    z-index: 2;

    .tooltip {
      opacity: 1;
    }
  }

  &.combo {
    .label-text-wrapper > h1, i {
      color: white;
    }

    i, .label-text-wrapper {      
      pointer-events: none;
      z-index: 2;
    }

    i {
      font-size: 0.8em;
    }

    .label-text-wrapper {      
      position: relative;

      > h1 {
        margin-left: 10px;
      }
    }
  }

  button {
    background-color: transparent;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    height: 100%;
    left: 0px;
    outline: none;
    position: absolute;
    top: 0px;
    width: 100%;

    &:hover,
    &:focus {
      background-color: rgba(white, 0.2);

      + .tooltip {
        opacity: 1;
      }
    }
  }
}