.label {
  align-items: center;
  display: flex;
  position: relative;
  white-space: nowrap;
  
  &:hover {
    .tooltip {
      opacity: 1;
    }
  }

  &.combo {
    align-items: center;
    display: flex;
    position: relative;

    > h1, i {
      color: white;
    }

    i {
      font-size: 0.8em;
    }

    > h1 {
      margin-left: 10px;
      position: relative;
    }
  }
}