.powered-by-stripe-wrapper {
  .powered-by-stripe-label {
    color: white;
  }

  .powered-by-stripe { 
    margin-top: 5px;

    .powered-by-stripe-logo { 
      display: inline-block;
      outline: none;
      text-decoration: none;
      vertical-align: top;

      &:hover,
      &:focus {
        img {
          background: $whiteGradient;
        }
      }

      img {
        border: 1px solid white;
        border-radius: 4px;
        height: 50px;
        padding: 0px 10px;
      }
    }

    .accepted-payments{
      display: inline-block;
      vertical-align: top;
    }
  }
}