.powered-by-stripe-logo { 
  display: inline-block;
  outline: none;
  text-decoration: none;

  &:hover,
  &:focus {
    img {
      background: $whiteGradient;
    }
  }

  h1 {
    color: white;
  }

  img {
    border: 1px solid white;
    border-radius: 4px;
    height: 50px;
    margin-top: 5px;
    padding: 0px 10px;
  }
}