.game-matchups {
  background-color: rgba(white, 0.05);
  border: 1px solid rgba(white, 0.2);    
  border-radius: 10px;  
  padding: 10px;
  margin-top: 40px;

  .game-matchups-border {
    background-color: white;
    border-radius: 10px;    
    height: 4px;
    margin-top: 5px;
  }

  .game-matchups-title {
    margin-top: 5px;
    position: relative;

    .game-matchups-title-text {
      border-radius: 4px;
      color: gray(230);
      font-size: 2em;
      padding: 5px;
      text-align: center;
    }
    
    .game-matchups-title-date-and-game-status {
      align-items: center;
      border-top: 1px solid rgba(white, 0.2);
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding-top: 5px;

      .game-matchups-title-date {
        color: gray(230);
        font-size: 1em;
      }
    }

    .update-timer {
      bottom: 0px;
      position: absolute;
      right: 0px;
    }

    .hide-matchups-button {
      margin: 5px;
      position: absolute;
      right: 0px;
      top: 0px;

      &:hover,
      &:focus {
        background-color: rgba(white, 0.2);
        color: $themeMain;
      }

      i {        
        font-size: 0.9em;
        height: 36px;
        line-height: 36px;
        width: 36px;
      }
    }
  }

  .game-matchups-list {
    margin-top: 10px;
  }
  
  .view-matchups-button {
    background-color: rgba(white, 0.1);
    border: 1px solid rgba(white, 0.2);    
    margin-top: 10px;
    padding: 15px 0px;
    width: 100%;

    &:hover,
    &:focus {
      background-color: rgba(white, 0.2);
      color: $themeMain;
    }
  }
}