.game-matchups {
  background-color: rgba(white, 0.1);
  border: 1px solid rgba(white, 0.25);  
  border-radius: 6px;
  padding: 10px;
  margin-top: 40px;

  .game-matchups-title {
    position: relative;

    .game-matchups-title-text {
      color: white;
      font-size: 2em;
      height: 36px;
      line-height: 36px;
      padding: 5px;
      text-align: center;
    }
    
    .game-matchups-title-date-and-game-status {
      align-items: center;
      border-bottom: 1px solid rgba(white, 0.2);
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      padding: 5px 0px;

      .game-matchups-title-date {
        color: white;
        font-size: 1em;
      }
    }

    .hide-matchups-button {
      margin: 5px;
      position: absolute;
      right: 0px;
      top: 0px;

      &:hover,
      &:focus {
        background-color: rgba(white, 0.2);
      }

      i {        
        font-size: 0.9em;
        height: 36px;
        line-height: 36px;
        width: 36px;
      }
    }
  }

  .view-matchups-button {
    background-color: rgba(white, 0.1);
    border: 1px solid rgba(white, 0.2);    
    margin-top: 10px;
    padding: 15px 0px;
    width: 100%;

    &:hover,
    &:focus {
      background-color: rgba(white, 0.2);
    }
  }
}

@include phone-or-smaller {
  .game-matchups {    
    .game-matchups-title {
      .game-matchups-title-text {
        font-size: 1.75em;
        text-align: left;
      }
    }
  }
}

@include small-phone-or-smaller {
  .game-matchups {    
    .game-matchups-title {
      .game-matchups-title-text {
        font-size: 1.5em;
      }
    }
  }
}