.duration-selector {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1em), 1fr)); 

  .duration-selector-option {      
    padding: 20px 10px;
    
    &:not(.selected):disabled {
      opacity: 0.4;
    }
  }
}

@include phone-or-smaller {
  .duration-selector {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1em), 1fr));    
  }
}

@include small-phone-or-smaller {
  .duration-selector {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));    
  }
}