.confetti-effect {
  height: 500px;
  left: 0px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;

  .confetti-particle {
    border-radius: 100px;
    position: absolute;    
    top: -10px;

    &.confetti-animation-1 {
      animation: confettiSlow 2.5s infinite;
    }
    
    &.confetti-animation-2 {
      animation: confettiMedium 1.75s infinite;
    }

    &.confetti-animation-3 {
      animation: confettiFast 1s infinite;
    }
    
    &.confetti-color-1 {
      background-color: $red;
    }
    
    &.confetti-color-2 {
      background-color: $orange;
    }
    
    &.confetti-color-3 {
      background-color: $yellow;
    }
    
    &.confetti-color-4 {
      background-color: $green;
    }
    
    &.confetti-color-5 {
      background-color: $blue;
    }
  }
}