.game-day-statement {
  align-items: center;
  color: $blue;
  margin: 0px 2px;
  white-space: nowrap;

  i {
    font-size: 0.8em;
  }

  .animated-counter {
    margin-left: 2px;

    h1 {
      color: $blue;
    }
  }
}