.game-day-statement {
  align-items: center;
  color: white;
  display: inline-flex;
  margin: 0px 2px;
  white-space: nowrap;

  i {
    margin-right: 2px;
  }

  .animated-counter {
    margin-left: 2px;

    h1 {
      color: white;
      margin-right: 2px;
    }
  }
}