.game-day-statement {
  color: $green;
  margin: 0px 2px;
  white-space: nowrap;

  i {
    font-size: 0.9em;
    margin-right: 2px;
  }

  .animated-counter {
    h1 {
      color: $green;
    }
  }
}