.game-conglomerate {
  position: relative;
  
  .game-conglomerate-groups {
    animation: fadeIn 400ms ease-in;
  }

  .loading-message-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 200px;
  }
}

.game-group {  
  
  &:nth-of-type(n + 2) {
    margin-top: 20px;
  }

  .game-group-title {
    display: flex;
    justify-content: space-between;
    position: relative;

    .game-group-title-text {
      color: white;
      font-size: 1.5em;
      text-align: left;
      padding-left: 50px;
      position: relative;

      &:before {
        background-color: white;
        border-radius: 10px;
        content: "";
        height: 10px;
        left: 0px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
      }
      
      &:after {
        background-color: white;
        border-radius: 10px;
        content: "";
        height: 2px;
        left: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
      }
    }
  }

  .game-group-lists {
    margin-top: 10px;
    position: relative;

    .empty-message {
      display: flex;

      .empty-message-content {
        background: linear-gradient(to right, rgba(white, 0.05), transparent);
        flex-grow: 1;
        margin-top: 0px;
      }
    }
  }
}