.game-group {  
  &:nth-of-type(n + 2) {
    margin-top: 20px;
  }

  .game-group-title {
    margin-bottom: 20px;
    position: relative;

    &:after {
      background-color: $themeMain;
      bottom: -4px;
      content: "";
      height: 2px;
      left: 0px;
      position: absolute;
      width: 50px;
    }

    h1 {
      color: gray(230);
      font-size: 2em;
      text-align: left;
    }
  }

  .game-group-lists {
    position: relative;
  
    .game-list { 
      border: 2px solid transparent;
      border-left: 2px solid rgba(gray(230), 0.4);
      border-radius: 10px;
      padding: 10px;
      padding-right: 0px;

      &:nth-of-type(n + 2) {
        margin-top: 20px;
      }

      .game-list-title {
        margin-bottom: 10px;
        position: relative;

        h1 {
          color: gray(230);
          font-size: 1.1em;
          text-align: left;
        }
      }

      .game-list-links {

        .game-link-wrapper {
          &:nth-of-type(n + 2) {
            margin-top: 10px;
          }
        }
      }
    }
  }
}