.game-conglomerate {
  position: relative;
  
  .game-conglomerate-groups {
    animation: fadeIn 400ms ease-in;
  }

  .loading-message-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 200px;
  }
}

.game-group {  
  &:nth-of-type(n + 2) {
    margin-top: 20px;
  }

  .game-group-title {
    display: flex;
    position: relative;

    h1 {
      color: white;
      font-size: 1.5em;
      text-align: left;
    }
  }

  .game-group-lists {
    margin-top: 5px;
    position: relative;

    .empty-message {
      display: flex;

      .empty-message-content {
        background: linear-gradient(to right, rgba(white, 0.05), transparent);
        flex-grow: 1;
        margin-top: 0px;
      }
    }

    .game-list { 
      display: flex;

      &:nth-of-type(n + 2) {
        margin-top: 20px;
      }

      .game-list-border {
        background-color: white;
        border-radius: 10px;         
        flex-shrink: 0;   
        width: 2px;
      }
    
      .game-list-content {
        border-radius: 4px;
        flex-grow: 1;
        margin-left: 5px;
        padding: 10px;

        .game-list-title {
          margin-bottom: 5px;
          position: relative;

          h1 {
            color: white;
            font-size: 1.1em;
            text-align: left;
          }
        }
      }
    }
  }
}