.leaderboard-top-row {        
  border-bottom: 2px solid transparent;
  border-radius: 10px;
  border-top: 2px solid transparent;
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 240px;

  &.place-1 {
    .leaderboard-top-row-content {
      .leaderboard-top-row-player {
        .leaderboard-top-row-place {
          color: $gold;
        }

        .leaderboard-top-row-player-icon {    
          background: linear-gradient(135deg, rgba($gold, 0.5), transparent);        
          border-color: $gold;     
        }   

        .leaderboard-top-row-icon {
          color: $gold;
        }
      }

      .leaderboard-top-row-pillar-wrapper {          
        .leaderboard-top-row-pillar {
          background-color: $gold;
        }
      }
    }
  }

  &.place-2 {
    margin-top: 60px;
    
    .leaderboard-top-row-content {
      .leaderboard-top-row-player {
        .leaderboard-top-row-place {
          color: $silver;
        }

        .leaderboard-top-row-player-icon {    
          background: linear-gradient(135deg, rgba($silver, 0.5), transparent);    
          border-color: $silver;     
        }     
    
        .leaderboard-top-row-icon {
          color: $silver;
        }
      }

      .leaderboard-top-row-pillar-wrapper {          
        .leaderboard-top-row-pillar {
          background-color: $silver;
        }
      }
    }
  }

  &.place-3 {
    margin-top: 60px;

    .leaderboard-top-row-content {
      .leaderboard-top-row-player {
        .leaderboard-top-row-place {
          color: $bronze;
        }
        
        .leaderboard-top-row-player-icon {   
          background: linear-gradient(135deg, rgba($bronze, 0.5), transparent);            
          border-color: $bronze;    
        }    
   
        .leaderboard-top-row-icon {
          color: $bronze;
        }
      }

      .leaderboard-top-row-pillar-wrapper {          
        .leaderboard-top-row-pillar {
          background-color: $bronze;
        }
      }
    }
  }

  .leaderboard-top-row-content {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0px;
    padding: 0px 5px;

    .leaderboard-top-row-player {
      align-items: center;
      display: flex;
      flex-direction: column;

      .leaderboard-top-row-pillar-wrapper {
        .leaderboard-top-row-pillar {
          height: 20px;
        }
      }

      .leaderboard-top-row-player-icon {
        border: 3px solid white;        
        border-radius: 1000px;
        margin-top: 5px;
        padding: 5px;
        position: relative;
        z-index: 3;

        .profile-icon {
          font-size: 2em;
          height: 80px;
          margin: auto;
          width: 80px;
        }    

        .player-level-mini-badge-wrapper {
          bottom: 4px;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          
          .player-level-mini-badge {            
            background-color: gray(40);
            box-shadow: 0px 0px 20px 5px rgba(white, 0.2);
          }
        }
      }

      .leaderboard-top-row-icon {
        font-size: 1.25em;
        margin-top: 10px;
        text-align: center;
        width: 30px;
        z-index: 2;
      }

      .leaderboard-top-row-player-username-wrapper {  
        align-items: center;
        border-radius: 100px;
        display: flex;
        margin-top: 10px;

        .leaderboard-top-row-player-username {
          max-width: 200px;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;      
          text-shadow: 0px 0px 1px rgba(black, 0.75);
          white-space: nowrap;
        }
      }

      .leaderboard-top-row-player-name {   
        color: white;
        font-size: 0.8em;  
        margin-top: 5px;
        max-width: 200px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .leaderboard-top-row-points {    
      align-items: center;
      color: white;
      display: flex;
      justify-content: center;
      margin-top: 5px;

      i {
        font-size: 0.7em;
      }

      .animated-counter {
        margin-left: 5px;

        h1 {
          color: white;
          font-size: 0.9em;
        }
      }
    }

    .leaderboard-top-row-pillar-wrapper {
      display: flex;
      margin: 5px 0px;
      justify-content: center;
       
      .leaderboard-top-row-pillar {
        background-color: white;
        border-radius: 10px;
        height: 40px;
        width: 4px;
      }
    }
  }
}

@include small-tablet-or-smaller {
  .leaderboard-top-row {        
    width: 160px;

    .leaderboard-top-row-content {
      .leaderboard-top-row-player {
        .leaderboard-top-row-player-username-wrapper {  
          .leaderboard-top-row-player-username {
            font-size: 0.9em;
            max-width: 100px;
          }
        }

        .leaderboard-top-row-player-name {             
          max-width: 120px;
        }
      }
    }
  }
}

@include medium-phone-or-smaller {
  .leaderboard-top-row {     
    width: 120px;

    .leaderboard-top-row-content {
      .leaderboard-top-row-player {
        .leaderboard-top-row-player-icon {
          .profile-icon {
            font-size: 1.5em;
            height: 60px;
            width: 60px;
          }

          .player-level-mini-badge-wrapper {
            .player-level-mini-badge {
              padding: 1px 2px;

              i {
                font-size: 0.45em;
              }

              h1 {
                font-size: 0.7em;
              }
            }
          }
        }

        .leaderboard-top-row-player-username-wrapper {  
          flex-direction: column;

          .leaderboard-top-row-player-username {
            font-size: 0.9em;
          }
        }
        
        .leaderboard-top-row-player-name {
          margin-top: 2px;          
          max-width: 100px;
        }
      }

      .leaderboard-top-row-points {  
        i {
          font-size: 0.6em;
        }

        .animated-counter {
          h1 {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

@include small-phone-or-smaller {
  .leaderboard-top-row {     
    width: 90px;

    .leaderboard-top-row-content {
      .leaderboard-top-row-player {
        .leaderboard-top-row-player-username-wrapper {  
          .leaderboard-top-row-player-username {
            font-size: 0.8em;
            max-width: 80px;
          }
        }

        .leaderboard-top-row-player-name {  
          max-width: 80px;
        }
      }
    }
  }
}