.leaderboard-top-row {  
  display: inline-flex;
  flex-direction: column;

  &.place-1 {
    margin: 0px 40px;

    .leaderboard-top-row-player {
      .leaderboard-top-row-place {
        color: $gold;
      }

      .leaderboard-top-row-player-icon {    
        .profile-icon {
          font-size: 3.5em;
          height: 140px;
          width: 140px;
        }
    
        .leaderboard-top-row-icon {
          background-color: rgba($gold, 0.25);
          border: 2px solid rgba($gold, 0.5);
          color: $gold;
          font-size: 1.25em;
          height: 40px;
          line-height: 40px;
          width: 40px;
        }
      }
    }
  }

  &.place-2 {
    margin-top: 60px;
    
    .leaderboard-top-row-player {
      .leaderboard-top-row-place {
        color: $silver;
      }

      .leaderboard-top-row-player-icon {    
        .leaderboard-top-row-icon {
          background-color: rgba($silver, 0.25);
          border: 2px solid rgba($silver, 0.5);
          color: $silver;
        }
      }
    }
  }

  &.place-3 {
    margin-top: 60px;

    .leaderboard-top-row-player {
      .leaderboard-top-row-place {
        color: $bronze;
      }
      
      .leaderboard-top-row-player-icon {    
        .leaderboard-top-row-icon {
          background-color: rgba($bronze, 0.25);
          border: 2px solid rgba($bronze, 0.5);
          color: $bronze;
        }
      }
    }
  }

  .leaderboard-top-row-player {
    align-items: center;
    display: flex;
    flex-direction: column;

    .leaderboard-top-row-player-icon {
      margin-top: 5px;
      position: relative;

      .profile-icon {
        font-size: 2.5em;
        height: 100px;
        margin: auto;
        width: 100px;
      }
  
      .leaderboard-top-row-icon {
        border-radius: 100px;
        box-shadow: $shadow1;
        bottom: 0px;
        font-size: 0.9em;
        height: 30px;
        line-height: 30px;
        position: absolute;
        right: 0px;
        text-align: center;
        width: 30px;
        z-index: 2;
      }
    }

    .leaderboard-top-row-player-username {
      margin-top: 5px;
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .leaderboard-top-row-points {
    color: gray(230);
    margin-top: 5px;
    text-align: center;
  }
}

@include small-tablet-or-larger {
  .leaderboard-top-row {      
    border-bottom: 2px solid transparent;
    border-radius: 10px;
    border-top: 2px solid transparent;
    padding: 10px 20px;
    width: 140px;

    &.place-1 {
      background: linear-gradient(to right, rgba($gold, 0.05) 2%, transparent 50%, rgba($gold, 0.05) 98%);      
      border-left: 2px solid $gold;
      border-right: 2px solid $gold;
    }

    &.place-2 {
      background: linear-gradient(to right, rgba($silver, 0.05) 2%, transparent 50%, rgba($silver, 0.05) 98%);      
      border-left: 2px solid $silver;
      border-right: 2px solid $silver;
    }

    &.place-3 {
      background: linear-gradient(to right, rgba($bronze, 0.05) 2%, transparent 50%, rgba($bronze, 0.05) 98%);      
      border-left: 2px solid $bronze;
      border-right: 2px solid $bronze;
    }
  }
}

@include medium-phone-or-smaller {
  .leaderboard-top-row {  
    &.place-1 {
      margin: 0px 20px;

      .leaderboard-top-row-player {
        .leaderboard-top-row-player-icon {    
          .profile-icon {
            font-size: 2em;
            height: 80px;
            width: 80px;
          }
      
          .leaderboard-top-row-icon {
            font-size: 0.9em;
            height: 30px;
            line-height: 30px;
            width: 30px;
          }
        }
      }
    }
    

    .leaderboard-top-row-player {
      .leaderboard-top-row-player-icon {
        .profile-icon {
          font-size: 1.5em;
          height: 60px;
          margin: auto;
          width: 60px;
        }
    
        .leaderboard-top-row-icon {
          bottom: -3px;
          font-size: 0.5em;
          height: 20px;
          line-height: 20px;
          right: -3px;
          width: 20px;
        }
      }

      .leaderboard-top-row-player-username {
        font-size: 0.8em;
        max-width: 100px;
      }
    }

    .leaderboard-top-row-points {
      font-size: 0.9em;
    }
  }
}