.leaderboard-top-row {        
  border-bottom: 2px solid transparent;
  border-radius: 10px;
  border-top: 2px solid transparent;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;

  &.place-1 {
    .leaderboard-top-row-content-border {
      background-color: $gold;
    }

    .leaderboard-top-row-content {
      background: linear-gradient(to bottom, rgba($gold, 0.1), transparent);    

      .leaderboard-top-row-player {
        .leaderboard-top-row-place {
          color: $gold;
        }

        .leaderboard-top-row-player-icon {    
          .leaderboard-top-row-icon {
            background-color: rgba($gold, 0.25);
            border: 2px solid rgba($gold, 0.5);
            color: $gold;
          }
        }
      }
    }
  }

  &.place-2 {
    margin-top: 60px;
    
    .leaderboard-top-row-content-border {
      background-color: $silver;
    }

    .leaderboard-top-row-content {
      background: linear-gradient(to bottom, rgba($silver, 0.1), transparent);    

      .leaderboard-top-row-player {
        .leaderboard-top-row-place {
          color: $silver;
        }

        .leaderboard-top-row-player-icon {    
          .leaderboard-top-row-icon {
            background-color: rgba($silver, 0.25);
            border: 2px solid rgba($silver, 0.5);
            color: $silver;
          }
        }
      }
    }
  }

  &.place-3 {
    margin-top: 60px;

    .leaderboard-top-row-content-border {
      background-color: $bronze;
    }

    .leaderboard-top-row-content {
      background: linear-gradient(to bottom, rgba($bronze, 0.1), transparent);        

      .leaderboard-top-row-player {
        .leaderboard-top-row-place {
          color: $bronze;
        }
        
        .leaderboard-top-row-player-icon {    
          .leaderboard-top-row-icon {
            background-color: rgba($bronze, 0.25);
            border: 2px solid rgba($bronze, 0.5);
            color: $bronze;
          }
        }
      }
    }
  }

  .leaderboard-top-row-content-border {
    background-color: white;
    border-radius: 10px;
    flex-shrink: 0;
    height: 2px;
  }

  .leaderboard-top-row-content {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0px;
    padding: 10px 0px;

    .leaderboard-top-row-player {
      align-items: center;
      display: flex;
      flex-direction: column;

      .leaderboard-top-row-player-icon {
        margin-top: 5px;
        position: relative;

        .profile-icon {
          font-size: 2.5em;
          height: 100px;
          margin: auto;
          width: 100px;
        }
    
        .leaderboard-top-row-icon {
          border-radius: 100px;
          box-shadow: $shadow1;
          bottom: 0px;
          font-size: 0.9em;
          height: 30px;
          line-height: 30px;
          position: absolute;
          right: 0px;
          text-align: center;
          width: 30px;
          z-index: 2;
        }
      }

      .leaderboard-top-row-player-username {
        margin-top: 5px;
        max-width: 140px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 140px;
      }

      .leaderboard-top-row-player-name {
        color: gray(230);
        font-size: 0.8em;
      }
    }

    .leaderboard-top-row-points {    
      align-items: center;
      color: gray(230);
      display: flex;
      justify-content: center;
      margin-top: 5px;

      i {
        font-size: 0.7em;
      }

      .animated-counter {
        margin-left: 5px;

        h1 {
          color: gray(230);
        }
      }
    }
  }
}

@include medium-phone-or-smaller {
  .leaderboard-top-row {  
    padding: 10px 5px;

    .leaderboard-top-row-content {
      .leaderboard-top-row-player {
        .leaderboard-top-row-player-icon {
          .profile-icon {
            font-size: 1.5em;
            height: 60px;
            width: 60px;
          }
      
          .leaderboard-top-row-icon {
            font-size: 0.6em;
            height: 20px;
            line-height: 20px;
            width: 20px;
          }
        }

        .leaderboard-top-row-player-username {
          font-size: 0.9em;
          padding: 0px 5px;
          width: 90px;
        }
      }

      .leaderboard-top-row-points {  
        font-size: 0.8em;
      }
    }
  }
}

@include small-phone-or-smaller {
  .leaderboard-top-row {  
    .leaderboard-top-row-content {
      padding: 10px 5px;
      
      .leaderboard-top-row-player {
        .leaderboard-top-row-player-username {
          width: 70px;
        }
      }
    }
  }
}