.loading-message {
  position: relative;

  &:not(.borderless) {
    margin: 10px 0px;
    
    .loading-message-content {
      background: linear-gradient(to bottom, rgba(white, 0.05), transparent);
      border-radius: 4px;
      margin-top: 5px;
    }
  }
  
  .loading-message-border {
    background-color: gray(230);
    border-radius: 10px;
    height: 4px;
    width: 100%;
  }

  .loading-message-content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 10px;

    .loading-icon-wrapper {
      left: auto;
      position: relative;
      right: auto;
      transform: none;
      width: 50px;

      .loading-icon {
        i {
          font-size: 2em;
        }
      }
    }

    h1 {
      color: gray(200);
      font-size: 1.5em;
      margin-left: 10px;
    }
  }
}

@include small-tablet-or-smaller {
  .loading-message {
    .loading-message-content {
      h1 {
        font-size: 1.25em;
      }
    }
  }
}