.shop-section {
  background: linear-gradient(135deg, rgba(black, 0.15), transparent);
  border: 1px solid rgba(black, 0.3);
  border-radius: 6px;
  padding: 15px;

  .shop-section-title {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .shop-section-description {
    .shop-section-description-line {
      border-left: 2px solid gray(40);
      color: gray(40);
      margin-bottom: 10px;
      padding-left: 10px;
    }
  }

  .shop-section-content {
    margin-top: 20px;
  }
}