.shop-section {
  .shop-section-title {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .shop-section-description {
    .shop-section-description-line {
      border-left: 2px solid white;
      color: white;
      margin-bottom: 10px;
      padding-left: 10px;
    }
  }

  .shop-section-content {
    margin-top: 10px;
  }
}