#game-invite-input-wrapper {
  background-color: rgba(white, 0.05);
  border: 2px solid rgba(white, 0.5);
  border-radius: 10px;   
  display: flex;
  justify-content: space-between;
  padding: 10px;

  #game-invite-input {
    width: calc(100% - 60px);
  }

  #game-invite-input-button {
    height: 50px;

    i {
      font-size: 1.25em;
    }
  }
}