#game-invite-input-wrapper {
  background-color: $themeMainAccent;
  border-radius: 6px;   
  box-shadow: $shadow1;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  #game-invite-input {
    width: calc(100% - 60px);
  }

  #game-invite-input-button {
    height: 50px;

    i {
      font-size: 1.25em;
    }
  }
}