@import "./leaderboardRow/leaderboardRow.scss";
@import "./leaderboardTopRow/leaderboardTopRow.scss";

.leaderboard {
  background-color: rgba(white, 0.03);
  border: 2px solid transparent;
  border-left: 2px solid rgba(white, 0.4);
  border-right: 2px solid rgba(white, 0.4);
  border-radius: 10px;
  padding: 10px;

  .leaderboard-title {
    color: gray(230);
    font-size: 2em;
    text-align: center;
  }

  .leaderboard-rows {
    .leaderboard-top-rows {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  .view-leaderboard-button {
    background-color: rgba(white, 0.1);
    margin-top: 10px;
    padding: 15px 10px;
    width: 100%;

    &:hover,
    &:focus {
      background-color: rgba(white, 0.2);
      color: $themeMain;
    }
  }
}