.matchup-spread-status {
  align-items: center;
  background-color: gray(40);
  border-radius: 6px;   
  color: white; 
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: left;

  .matchup-spread-status-label {
    align-items: center;
    display: flex;
    gap: 10px;
    text-transform: uppercase;

    .matchup-spread-status-label-body {
      align-items: center;
      display: flex;
      gap: 10px;

      h1, i {
        color: white;
      }

      i {
        font-size: 0.8em;
      }
    }

    .icon-button {
      i {
        color: white;
        font-size: 1em;
        height: 30px;
        line-height: 30px;
        width: 30px;
      }
    }
  }

  .matchup-spread-status-body {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 10px;
    justify-content: space-between;

    .matchup-spread-status-description {
      color: white;

      .icon-statement {
        margin-left: 2px;
        white-space: nowrap;

        span, i {
          color: $blue;
        }
        
        i {
          font-size: 0.8em;
        }
      }
    }
  }
}

@include medium-phone-or-smaller {
  .matchup-spread-status {
    flex-direction: column; 
    gap: 5px;

    .matchup-spread-status-label {      
      justify-content: center;
      width: 100%;

      .icon-button {

        i {
          font-size: 0.9em;
          height: 26px;
          line-height: 26px;
          width: 26px;
        }
      }
    }
  }
}