.user-link {
  align-items: center;
  display: flex;

  .profile-icon {
    height: 34px;
    width: 34px;

    i {
      font-size: 0.9em;
      height: 20px;
      line-height: 20px;
      text-align: center;
      width: 20px;
    }
  }

  .username {
    color: gray(230);
    font-size: 1.25em;
    font-weight: bolder;
    margin-left: 10px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $themeMain;
      text-decoration: underline;
    }
  }
}