.user-link {
  align-items: center;
  display: flex;
  position: relative;

  .user-link-content {
    margin-left: 5px;

    .profile-icon {
      height: 34px;
      width: 34px;

      i {
        font-size: 0.9em;
        height: 20px;
        line-height: 20px;
        text-align: center;
        width: 20px;
      }
    }

    .user-link-username-wrapper {
      align-items: center;
      display: flex;
      height: 100%;
      position: relative;

      &:hover {
        .tooltip {
          opacity: 1;
        }
      }

      .user-link-username {
        display: inline-block;
        font-size: 1em;
        font-weight: bolder;
        outline: none;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }

    .user-link-name {
      color: gray(230);
      font-size: 0.8em;
    }
  }
}