.user-link {
  align-items: center;
  display: flex;
  position: relative;

  .user-link-content {
    align-items: center;
    display: flex;

    .user-link-profile-icon-wrapper {
      position: relative;

      .profile-icon {
        height: 40px;
        width: 40px;

        i {
          font-size: 1em;
          height: 30px;
          line-height: 30px;
          text-align: center;
          width: 30px;
        }
      }
  

      .player-level-mini-badge-wrapper {
        bottom: -3px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        z-index: 2;
        
        &:hover {
          z-index: 10;
        }

        .player-level-mini-badge {            
          background-color: gray(40);
          box-shadow: 0px 0px 20px 5px rgba(white, 0.2);
          min-width: 24px;
          padding: 1px 2px;

          i {
            font-size: 0.45em;
          }

          > h1 {
            font-size: 0.7em;
          }
        }
      }
    }

    .user-link-username-wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      position: relative;

      &:hover {
        .tooltip {
          opacity: 1;
        }
      }

      .user-link-username,
      .user-link-name {
        overflow: hidden;
        padding-right: 2px;
        text-overflow: ellipsis;   
        white-space: nowrap;
      }

      .user-link-username {
        display: inline-block;
        font-size: 1em;
        font-weight: bolder;
        outline: none;
        position: relative;
        text-decoration: none;   
        text-shadow: 0px 0px 1px rgba(black, 0.75);
        width: 100%;
      }

      .user-link-name {
        color: white;
        font-size: 0.8em;
        white-space: nowrap;
      }
    }
  }
}