@import "./components/gameDayPurchaseModal/gameDayPurchaseModal.scss";
@import "./components/gameDayPurchaseOption/gameDayPurchaseOption.scss";
@import "./components/shopSection/shopSection.scss";

#shop-page {
  .powered-by-stripe-logo {
    img {
      height: 50px;
    }
  }

  .game-day-purchase-options {    
    margin-top: 10px;

    .shop-section-content {  
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 

      .game-day-purchase-option {
        &:first-child {
          border-top-left-radius: 6px;      
          border-top-right-radius: 6px;
        }   

        &:last-child {
          border-bottom-left-radius: 6px;      
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
}