@import "./components/gameDayPaymentForm/gameDayPaymentForm.scss";
@import "./components/gameDayPurchaseModal/gameDayPurchaseModal.scss";
@import "./components/gameDayPurchaseOption/gameDayPurchaseOption.scss";
@import "./components/shopSection/shopSection.scss";

#shop-page {
  .game-day-purchase-options {      
    margin-top: 10px;

    .game-day-purchase-option {
      &:first-child {
        border-top-left-radius: 6px;      
        border-top-right-radius: 6px;
      }   

      &:nth-of-type(n + 2) {
        margin-top: 20px;
      }

      &:last-child {
        border-bottom-left-radius: 6px;      
        border-bottom-right-radius: 6px;
      }
    }
  }
}