#navbar {  
  animation: fadeInDown 400ms ease-in;
  background: linear-gradient(to bottom, gray(40), transparent);
  height: 50px;
  left: 0px;
  padding: 10px;
  pointer-events: none;
  position: fixed;
  top: 0px;
  width: calc(100vw - 20px);
  z-index: 9997;

  #navbar-content {
    margin: auto;
    max-width: 1200px;
    position: relative;

    .app-brand {
      display: inline-block;
      margin-left: 15px;
    }

    #navbar-items {    
      align-items: center;
      display: flex;
      pointer-events: all;
      position: absolute;
      right: 0px;
      top: 0px;

      .navbar-item {
        border-radius: 6px;
        height: 50px;
        line-height: 50px;
        outline: none;
        padding: 0px 20px;
        vertical-align: top;

        &:hover,
        &:focus {
          background-color: $themeMain;
          color: white;
          cursor: pointer;
        }

        &:nth-child(n + 2) {        
          margin-left: 10px;
        }
      }

      a, button {
        text-decoration: none;
      }

      #sign-in-button {
        font-size: 1.25em;
        height: 50px;
        line-height: 50px;    
        margin-left: 10px;
        padding: 0px 20px;
        width: 100px;
      }

      #user-menu-button {
        background-color: rgba(white, 0.1);
        height: 50px;
        margin-left: 10px;
        padding: 5px;

        &:hover,
        &:focus {
          background-color: rgba(white, 0.2);
          i {
            color: white;
          }
        }

        &.signed-in {
          border-radius: 100px;
        }

        i {
          height: 40px;
          line-height: 40px;
          width: 40px;
        }
      }
    }
  }
}

@include tablet-or-smaller {
  #navbar {  
    #navbar-content {
      .app-brand {
        margin-left: 0px;
      }
    }
  }
}