#game-day-payment-form {
  transition: height 0.25s, opacity 0.25s;

  &.submitting {
    .form-payment-fields-section {
      opacity: 0.4;
    }
  }
  
  .form-payment-fields-section {
    .input-wrapper {
      .input {
        input {
          background-color: transparent;
          border-bottom: 2px solid rgba(white, 0.5);
          border-radius: 0px;
          padding: 5px 10px;

          &:focus {
            border-color: transparent;
            border-bottom-color: rgba(white, 0.75);
          }
        }
      }
    }
  }

  #billing-address-inputs {
    display: flex;
    justify-content: space-between;

    .input-wrapper {      
      margin: 0px;
    }

    #billing-address-input {
      width: calc(70% - 10px);
    }

    #billing-address-2-input {
      width: 30%;
    }
  }

  #billing-state-and-zip-inputs {
    display: flex;
    justify-content: space-between;

    .input-wrapper { 
      margin: 0px;
      width: calc(50% - 5px);
    }
  }

  #billing-credit-card-input {
    .input {
      border: 2px solid transparent;
      border-bottom-color: rgba(white, 0.5);
      padding: 15px 10px;
    }
  }

  .powered-by-stripe-logo {
    margin-top: 10px;
  }

  .submit-button {
    i {
      animation: spin 2s ease infinite;
      color: white;
      font-size: 0.8em;
    }
  }
}