.empty-message {
  .empty-message-border {
    background-color: gray(230);
    border-radius: 10px;
    height: 4px;
    width: 100%;
  }

  .empty-message-content {
    background: linear-gradient(to bottom, rgba(white, 0.05), transparent);
    border-radius: 4px;
    margin-top: 5px;
    padding: 40px 10px;

    h1 {
      color: gray(200);
      font-size: 1.25em;
      text-align: center;
    }
  }
}