.empty-message {
  background-color: rgba(white, 0.03);
  border: 1px solid rgba(white, 0.2);
  border-radius: 10px;
  padding: 40px 20px;

  h1 {
    color: gray(200);
    font-size: 1.5em;
    text-align: center;
  }
}