.empty-message {
  .empty-message-content {
    background-color: rgba(white, 0.1);
    border: 2px solid rgba(white, 0.2);
    border-radius: 6px;
    padding: 20px;
    
    .empty-message-title {
      color: white;
      font-size: 2em;
      margin-bottom: 5px;
      text-align: center;
    }

    .empty-message-text {
      color: white;
      font-size: 1.25em;
      text-align: center;
    }
  }
}