@import "./components/gameFilters/gameFilters.scss";

#my-games-page {
  .page-content-wrapper {
    .page-content {
      .my-games {
        background-color: $themeMainAccent;
        border-radius: 6px;   
        box-shadow: $shadow1;
        margin-top: 20px;
        padding: 10px;
        
        .games-loading-icon {
          height: 100px;
          position: relative;
        }
      }
    }
  }
}