#prediction-modal {
  #prediction-player-selection-wrapper {
    margin-top: 0px;

    .input {
      display: flex;
      justify-content: space-between;

      .prediction-player-selection-button {
        background-color: rgba(white, 0.1);
        border: 1px solid rgba(white, 0.2);  
        width: calc(50% - 10px);

        &:not(:disabled, .selected):hover,
        &:not(:disabled, .selected):focus {
          background-color: rgba(white, 0.2);
          color: $themeMain;
        }

        &:disabled {
          opacity: 0.4;
        }
      }
    }
  }
}

@include phone-or-larger {
  #prediction-modal {
    .modal-content-wrapper {
      width: 540px;
    }
  }
}