#nav-menu-wrapper {
  animation: fadeInLeft 400ms ease-in;
  left: 0px;
  pointer-events: none;
  position: fixed;
  top: 90px;
  width: 100%;
  z-index: 2;

  #nav-menu {
    margin: auto;
    max-width: 1200px;

    #nav-menu-content {
      border-right: 1px solid rgba(white, 0.2);
      padding: 0px 5px;
      pointer-events: all;
      width: 239px;

      .nav-menu-button {
        background-color: transparent;
        border: none;
        border-radius: 6px;
        color: white;
        display: flex;
        outline: none;
        padding: 5px 10px;
        text-decoration: none;

        &:hover,
        &:focus {
          background-color: rgba(white, 0.1);
        }

        &:nth-of-type(n + 2) {
          margin-top: 5px;
        }

        &.active {
          h1, i {
            color: $themeMain;
          }
        }

        h1, i {
          color: white;
          font-size: 1.25em;
          height: 30px;
          line-height: 30px;
        }

        h1 {
          margin-left: 10px;
        }

        i {
          text-align: center;
          width: 30px;
        }
      }
    }
  }
}

@include tablet-or-smaller {
  #nav-menu-wrapper {
    #nav-menu {
      #nav-menu-content {
        background-color: rgba(white, 0.03);
        border-bottom-right-radius: 5px;
        border-right: none;        
        border-top-right-radius: 5px;
        padding: 5px;
        width: 40px;

        .nav-menu-button {
          padding: 5px;
          
          h1 {
            display: none;
          }
        }
      }
    }
  }
}

@include phone-or-smaller {
  #nav-menu-wrapper {
    bottom: 0px;
    top: auto;

    #nav-menu {
      #nav-menu-content {
        background-color: gray(40);
        border-radius: 0px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px -1px 6px, rgba(0, 0, 0, 0.12) 0px -1px 4px;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); 
        width: calc(100% - 10px);

        .nav-menu-button {
          justify-content: center;

          &:nth-of-type(n + 2) {
            margin-top: 0px;
          }
        }
      }
    }
  }
}