.game-pass-hub {
  .get-game-passes-button {
    align-items: center;
    animation: gradient 30s ease infinite;
    background: linear-gradient(-45deg, $red, $yellow, $green, $blue);
    background-size: 400% 100%;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;

    &:hover,
    &:focus {
      animation-duration: 5s;
      border-color: white;
    }

    i, h1 {
      color: white;
    }

    i {
      font-size: 2em;
    }

    h1 {
      font-size: 1.75em;
      margin-left: 20px;
      text-transform: uppercase;
    }
  }
}