.example-matchup-wrapper {
  border: 1px solid rgba(white, 0.25);
  border-radius: 10px;
  padding: 10px;

  .game-matchup {
    border-top: none;

    .game-matchup-header,    
    .toggle-prediction-button {
      display: none;
    }

    .game-matchup-sides {
      .game-matchup-vs-label {
        .icon-button {
          display: none;
        }
      }
    }

    .matchup-spread-status {
      .matchup-spread-status-label {
        .icon-button {
          display: none;
        }
      }
    }
  }
}