.game-event-description {
  display: flex;
  flex-grow: 1;
  margin-top: 5px;

  .game-event-description-indicator {    
    background-color: white;
    border-radius: 10px;
    width: 2px;
  }

  .game-event-description-content {
    background: linear-gradient(to right, rgba(white, 0.1), transparent 50%);        
    border-radius: 4px;
    flex-grow: 1;
    margin-left: 5px;
    padding: 10px;
    text-align: left;

    .game-event-description-clause {
      color: white;

      .highlight-custom {
        color: $themeMainDark;
      }

      .clause-arrow {
        font-size: 0.8em;
        margin: 0px 4px;
      }
    }
    
    .player-created-prediction-statement,
    .player-earned-points-from-steps-statement,
    .player-prediction-amount-statement,
    .player-prediction-matchup-statement,
    .day-completed-statement {
      color: white;
    }

    .player-prediction-amount-statement {
      margin-top: 5px;
    }

    .player-day-completed-summary-table {      
      border: 1px solid rgba(white, 0.25);
      border-radius: 4px;
      flex-grow: 1;


      .player-day-completed-summary-table-row {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;

        &:nth-of-type(n + 2) {
          border-top: 1px solid rgba(white, 0.25);
        }

        &.gain {
          .player-day-completed-summary-table-row-value {
            color: $green;

            .point-statement {
              i, span {
                color: $green;
              }
            }
          }
        }

        &.loss {
          .player-day-completed-summary-table-row-value {
            color: $red;

            .point-statement {
              i, span {
                color: $red;
              }
            }
          }
        }

        .player-day-completed-summary-table-row-label {
          color: white;
          line-height: 17px;
        }

        .player-day-completed-summary-table-row-value {
          align-items: center;
          display: flex;
          white-space: nowrap;

          > i {
            font-size: 0.6em;
          }

          h1 {
            color: white;
            margin-left: 5px;

            .point-statement {
              i, span {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

@include small-phone-or-smaller {
  .game-event-description {
    .player-day-completed-summary-table {    
      .player-day-completed-summary-table-row {
        .player-day-completed-summary-table-row-label {
          font-size: 0.9em;
        }

        .player-day-completed-summary-table-row-value {
          white-space: nowrap;
          
          h1 {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}