.button.fancy-option-button.game-day-purchase-option {  
  background: $whiteGradient;
  padding: 10px;
  width: 100%;

  .game-day-purchase-option-icon {
    font-size: 5em;
    margin-top: 10px;
    text-align: center;
    width: 100px;
  }

  .game-day-purchase-option-content {    
    margin-top: 10px;

    h1 {
      margin-top: 0px;
    }

    .game-day-purchase-option-label,
    .game-day-purchase-option-price {       
      font-size: 1.25em;
    }

    .game-day-purchase-option-price {      
      color: $green;      
      margin-bottom: 10px;
    }

    .game-day-purchase-option-recommendation-statement {
      background-color: gray(40);
      border-radius: 6px;
      margin-bottom: 5px;
      padding: 10px;
    }

    .game-day-purchase-option-discount-label {
      background-color: rgba($green, 0.1);
      border: 1px solid rgba($green, 0.25);
      border-radius: 6px;
      padding: 10px;

      .highlight-custom {
        color: $green;
        font-size: 1.25em;
        margin-left: 5px;

        .percent {
          color: $green;
          font-size: 1.25em;
        }
      }
    }
  }
}

@include phone-or-smaller {
  .button.fancy-option-button.game-day-purchase-option {  
    .game-day-purchase-option-icon {
      font-size: 3em;
    }

    .game-day-purchase-option-content {  
      .game-day-purchase-option-label,
      .game-day-purchase-option-price {       
        font-size: 1em;
      }

      .game-day-purchase-option-discount-label {
        .highlight-custom {
          font-size: 1em;
  
          .percent {
            font-size: 1.25em;
          }
        }
      }
    }
  }
}