.button.game-day-purchase-option {      
  background-position: center;
  background-size: cover;
  box-shadow: $shadow1;
  padding: 0px;
  width: 100%;

  &:not(.presentation-mode):hover,
  &:not(.presentation-mode):focus {
    .game-day-purchase-option-content { 
      background: $darkGradient;
    }
  }

  .game-day-purchase-option-content { 
    border-radius: 6px;
    height: 200px;
    padding: 10px;

    .game-day-purchase-option-discount-label {
      background: linear-gradient(to bottom, rgba(black, 0.25), transparent);
      border-radius: 6px;
      color: white;
      font-size: 1.25em;
      left: 0px;
      padding: 10px;
      padding-bottom: 20px;
      position: absolute;
      top: 0px;
      width: calc(100% - 20px);
    }

    .game-day-purchase-option-details {
      background: linear-gradient(to top, rgba(black, 0.25), transparent);
      border-radius: 6px;
      bottom: 0px;
      left: 0px;
      padding: 20px;
      padding-top: 40px;
      position: absolute;
      text-align: left;
      width: calc(100% - 40px);

      .game-day-purchase-option-label,
      .game-day-purchase-option-daily-price {
        color: white;    
        font-size: 1.25em;
      }

      .game-day-purchase-option-daily-price {
        font-size: 2.25em;
      }

      .game-day-purchase-option-recommendation-statement {
        color: gray(40);
        font-size: 1.25em;
        text-shadow: 0px 0px 2px rgba(white, 0.9);
      }

      .game-day-purchase-option-price {
        border: 1px solid rgba(white, 0.5);
        border-radius: 6px;
        color: white;
        display: inline-block;     
        font-size: 1.25em;   
        margin-top: 5px;
        padding: 5px 0px;
        text-align: center;
        width: 100px;
      }
    }
  }
}