.games { 
  &:nth-of-type(n + 2) {
    margin-top: 20px;
  }

  &.loading {
    .game-links {
      background-color: rgba(white, 0.1);
      border-radius: 6px;
    }
  }

  .games-title {
    margin-bottom: 20px;
    position: relative;

    &:after {
      background-color: $themeMain;
      bottom: -4px;
      content: "";
      height: 2px;
      left: 0px;
      position: absolute;
      width: 50px;
    }

    h1 {
      color: gray(230);
      font-size: 2em;
      text-align: left;
    }
  }

  .game-links {
    min-height: 100px;
    position: relative;

    .game-link-wrapper {
      &:nth-of-type(n + 2) {
        margin-top: 10px;
      }
    }
  }
}