.how-to-play-section {
  &:nth-of-type(n + 2) {
    margin-top: 40px;
  }

  .how-to-play-section-title {
    color: white;
    font-size: 1.5em;
  }

  .how-to-play-section-content-wrapper {
    display: flex;
    margin-top: 5px;

    .how-to-play-section-content-border {
      background-color: white;
      border-radius: 10px;
      flex-shrink: 0;
      width: 2px;
    }

    .how-to-play-section-content {
      background: linear-gradient(to right, rgba(black, 0.05), transparent);
      border-radius: 4px;
      margin-left: 5px;
      padding: 20px 10px;

      > :nth-child(n + 2) {
        margin-top: 20px;
      }

      .how-to-play-section-text {
        display: flex;

        .how-to-play-section-text-content {
          background: linear-gradient(to right, rgba(black, 0.1), transparent);
          border-radius: 4px;
          padding: 10px;
          padding-right: 0px;

          p {            
            color: white;
            font-size: 1.25em;
          }
        }
      }
    }

    .how-to-play-sub-section {
      .how-to-play-sub-section-title {
        color: white;
        font-size: 1.5em;
      }

      .how-to-play-sub-section-content {
        border-left: 2px solid white;
        margin-top: 10px;
        padding: 10px;
        padding-right: 0px;

        > :nth-child(n + 2) {
          margin-top: 20px;
        }
      }
    }
  }
}