.button {
  background-color: rgba(white, 0.1);
  border: none;
  border-radius: 6px;
  color: white;
  outline: none;
  padding: 10px;
  position: relative;

  &:not(:disabled, .selected):hover,
  &:not(:disabled, .selected):focus {
    background-color: rgba(white, 0.2);
    color: white;
    cursor: pointer;
    
    .tooltip {
      opacity: 1;
    }
  }

  &.link {
    display: block;
    text-decoration: none;
  }
}

.icon-button {
  padding: 0px;

  i {
    font-size: 2em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
  }
}

.button.fancy-button {
  background: $whiteGradient;
  border: 1px solid rgba(white, 0.5);
  display: inline-block;
  font-weight: bolder;
  padding: 10px 20px;
  position: relative;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background: $whiteGradientHover;
  }

  &:disabled {
    opacity: 0.4;
  }

  &.red {    
    background: linear-gradient(to right, rgba($red, 0.25), rgba($red, 0.05));
    border: 1px solid rgba($red, 0.5);

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: rgba($red, 0.6);
    }
  }

  i, h1 {
    color: gray(40);
    display: inline-block;
    font-size: 1.25em;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
  }

  h1 {
    margin-left: 10px;
  }
}

.button.fancy-option-button {
  border: 1px solid rgba(white, 0.5);
  padding: 15px 10px;

  &:not(:disabled, .selected):hover,
  &:not(:disabled, .selected):focus {
    background: rgba(white, 0.25);
  }

  &.selected {
    background: $whiteGradientHover;
    border: 1px solid rgba(white, 0.5);
    color: gray(40);

    i, h1 {
      color: gray(40);
    }
  }

  i {
    font-size: 1.5em;
  }

  h1 {
    color: white;
    margin-top: 5px;
  }
}