#game-day-purchase-modal {
  .modal-content-wrapper {
    padding-bottom: 60px;

    .modal-content {
      .modal-body {
        .powered-by-stripe-wrapper {
          margin-top: 20px;
        }
      }
    }
  }

  .modal-actions {
    .submit-button {
      text-align: center;
    }
  }
}

@include phone-or-larger {
  #game-day-purchase-modal {
    .modal-content-wrapper {
      width: 540px;
    }
  }
}