#game-day-purchase-modal {
  .modal-content-wrapper {
    padding-bottom: 60px;
  }

  .game-day-purchase-option {
    border: none;
  }
}

@include phone-or-larger {
  #game-day-purchase-modal {
    .modal-content-wrapper {
      width: 540px;
    }
  }
}