.game-list { 
  background-color: rgba(white, 0.05);
  border: 1px solid rgba(white, 0.5);
  border-radius: 6px;  
  box-shadow: $shadow1;
  padding: 10px;

  &:nth-of-type(n + 2) {
    margin-top: 20px;
  }

  .game-list-content {
    border-radius: 4px;

    .game-list-title {
      display: flex;
      justify-content: space-between;
      position: relative;

      .game-list-title-text {
        align-items: center;
        color: white;
        display: flex;
        font-size: 1.25em;
        text-align: left;
      }
    }

    .game-list-links {
      margin-top: 10px;
    }
  }
}