.game-link-wrapper { 
  padding: 15px 20px;
  position: relative;

  &:first-child {
    .game-link {
      border-top-left-radius: 6px;      
      border-top-right-radius: 6px;
    }
  }

  &:nth-of-type(n + 2) {
    .game-link {
      border-top: 1px solid rgba(white, 0.25);
    }
  }

  &:last-child {
    .game-link {
      border-bottom-left-radius: 6px;      
      border-bottom-right-radius: 6px;
    }
  }

  .game-link { 
    background: linear-gradient(to right, rgba(white, 0.1), rgba(white, 0.02));    
    border-radius: 0px;
    height: 100%;
    left: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 100%;

    &:hover, 
    &:focus {
      background: linear-gradient(to right, rgba(white, 0.1), rgba(white, 0.1));
    }
  }

  .game-link-header {
    display: flex;
    justify-content: space-between;

    .game-link-creator-statement {
      .highlight-custom {
        color: white;  
        font-size: 0.9em;
      }
    }
  }

  .game-link-body {
    margin-top: 5px;
    pointer-events: none;
    position: relative;
    z-index: 2;

    .game-name {
      color: white;
      font-size: 1.5em;
    }

    .game-dates {
      i,
      .label-text-wrapper > h1 {
        color: gray(40);
      }
    }
  }

  .game-details {    
    pointer-events: none;
  }
}

@include phone-or-smaller {
  .game-link-wrapper {
    .game-link-body {
      .game-name {
        font-size: 1.5em;
      }
    }
  }
}