.table-wrapper {
  .table {
    overflow: auto;
    
    table {
      border-collapse: collapse;
      border-radius: 6px;
      border-spacing: 0;
      margin: auto;
      overflow: hidden;
      width: 100%;

      th, td {      
        padding: 20px 15px;
      }

      thead {
        background-color: rgba(white, 0.1);

        tr {
          th {
            color: white;
            text-align: left;
            text-transform: uppercase;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: rgba(white, 0.3);
          }

          &:nth-child(even) {
            background-color: rgba(white, 0.1);
          }

          td {
            color: white;
            text-align: left;
          }
        }
      }
    }
  }
}

@include phone-or-smaller {
  .table-wrapper {
    .table {
      table {
        thead {
          tr {
            th {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}