.table-wrapper {
  border-radius: 6px;
  
  .table {
    background-color: rgba(white, 0.1);
    border: 1px solid rgba(white, 0.25);
    border-radius: 6px;
    
    &::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }
  
    table {
      border-spacing: 0;
      margin: auto;
      padding: 6px;
      width: 100%;

      th, td {      
        padding: 15px 10px;
      }

      thead,
      tbody {
        tr {
          th, td {
            &:nth-of-type(n + 2) {
              border-left: none;
            }
          }
        }
      }

      thead {
        tr {
          &:first-of-type {
            th {
              border-top: none;

              &:first-of-type {
                border-left: none;
              }

              &:last-of-type {
                border-right: none;
              }
            }
          }

          &:last-of-type {
            th {
              border-bottom: none;
            }
          }

          th {
            border: 1px solid rgba(white, 0.25);
            color: white;
            text-align: left;
            text-transform: uppercase;
          }
        }
      }

      tbody {
        tr {
          &:nth-of-type(n + 2) {
            td {
              border-top: none;
            }
          }

          &:last-of-type {
            td {
              border-bottom: none;
            }
          }

          td {
            border: 1px solid rgba(white, 0.25);
            color: white;
            text-align: left;

            &:first-of-type {
              border-left: none;
            }

            &:last-of-type {
              border-right: none;
            }
          }
        }
      }
    }
  }
}

@include phone-or-smaller {
  .table-wrapper {
    .table {
      table {
        thead {
          tr {
            th {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}