.profile-header {
  text-align: center;
  
  .profile-icon {
    font-size: 3em;
    height: 100px;
    margin: auto;
    width: 100px;
  }

  .profile-username {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    width: 380px;

    > h1 {
      color: rgba(white, 0.5);
      font-size: 2em;
    }
  }
  
  .profile-full-name {
    color: white;
    font-size: 1em;
    margin-top: 5px;
  }
  
  .profile-email {
    color: gray(120);
    font-size: 1em;  
  }
}

@include phone-or-smaller {
  .profile-header {
    .profile-icon {
      font-size: 2em;
      height: 80px;
      width: 80px;
    }

    .profile-username {
      width: 100%;

      > h1 {
        font-size: 1.25em;
      }
    }
  }
}