.game-event-description {
  display: flex;
  flex-grow: 1;
  margin-top: 5px;

  .game-event-description-indicator {    
    background-color: gray(230);
    border-radius: 10px;
    width: 4px;
  }

  .game-event-description-content {
    background: linear-gradient(to right, rgba(white, 0.1), transparent 50%);        
    border-radius: 4px;
    margin-left: 5px;
    padding: 10px;
    text-align: left;

    .game-event-description-clause {
      color: gray(230);

      .highlight-custom {
        color: $history;
      }

      .clause-arrow {
        font-size: 0.8em;
        margin: 0px 4px;
      }
    }
    
    .player-created-prediction-statement,
    .player-earned-points-from-steps-statement,
    .player-prediction-amount-statement,
    .player-prediction-matchup-statement,
    .day-completed-statement,
    .player-day-completed-summary-statement {
      color: gray(230);
    }

    .player-prediction-amount-statement {
      margin-top: 5px;
    }
  }
}