.game-event-description {
  background-color: rgba(white, 0.1);
  border: 1px solid rgba(white, 0.2);
  border-radius: 4px;
  flex-grow: 1;
  margin-top: 5px;
  padding: 10px;
  text-align: left;

  .game-event-description-clause {
    color: gray(230);

    .clause-arrow {
      font-size: 0.8em;
      margin: 0px 4px;
    }
  }
}