.color-selector {
  background-color: rgba(white, 0.1);
  border-radius: 6px;  
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  overflow: auto;
  padding: 10px;

  .color-selector-option {
    &:hover,
    &:focus,
    &.selected {
      background-color: rgba(white, 0.25);
    }

    i {
      font-size: 1.5em;
      text-shadow: 0px 0px 2px rgba(black, 0.4);
    }
  }
}