@include small-tablet-or-larger {
  #view-players-modal {
    .modal-content-wrapper {
      width: 700px;
    }
  }
}

@include small-tablet-or-smaller {
  #view-players-modal {
    .modal-content-wrapper {      
      padding: 20px 10px;
      width: calc(100% - 20px);
    }
  }
}