.game-matchup {
  .game-matchup-side {
    text-align: center;
    width: 160px;

    &.left {
      .game-matchup-side-stats {
        border-left: 2px solid rgba(white, 0.25);
        border-top-left-radius: 6px;
        
        .game-matchup-side-stat {          
          h1 {
            margin-left: 10px;
          }
        }
      }
    }

    &.right {
      .game-matchup-side-stats {
        border-right: 2px solid rgba(white, 0.25);
        border-top-right-radius: 6px;

        .game-matchup-side-stat {
          justify-content: flex-end;
          
          h1 {
            margin-right: 10px;
          }
        }
      }
    }

    .profile-icon {
      font-size: 2em;
      height: 80px;
      margin: auto;
      width: 80px;
    }

    .game-matchup-side-username {
      font-size: 1.25em;
      margin: auto;
      margin-top: 5px;
      overflow: hidden;      
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .game-matchup-side-stats {
      border-top: 2px solid rgba(white, 0.25);
      margin-top: 5px;
      padding: 10px;

      .game-matchup-side-stat {
        align-items: center;
        display: flex;

        &:nth-of-type(n + 2) {        
          margin-top: 5px;
        }
  
        i, h1 {
          color: white;
        }
      }
    }

    .game-matchup-side-input-wrapper {
      display: flex;
      margin-top: 10px;
      text-align: left;

      .input-wrapper {
        width: 70px;

        input {
          background-color: gray(30);
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
          height: 20px;
          padding: 5px;
          width: calc(100% - 14px);
        }        
      }

      .game-matchup-side-input-button {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        padding: 5px;

        i {
          font-size: 1em;
          height: 20px;
          line-height: 20px;
          width: 20px;
        }
      }
    }
  }
}

@include medium-phone-or-smaller {
  .game-matchup {
    padding: 10px;
    
    .game-matchup-side {
      .profile-icon {
        font-size: 1.5em;
        height: 60px;
        width: 60px;
      }
      
      .game-matchup-side-username {
        font-size: 1em;
        max-width: 120px;
      }
      
      .game-matchup-side-stats {
        .game-matchup-side-stat {
          i {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

@include small-phone-or-smaller {
  .game-matchup {
    .game-matchup-side {
      .profile-icon {
        font-size: 1em;
        height: 40px;
        width: 40px;
      }
      
      .game-matchup-side-username {
        font-size: 0.8em;
        max-width: 90px;
      }
    }
  }
}