.game-matchup-side {
  border-bottom: 1px solid transparent;
  border-radius: 10px;
  border-top: 1px solid transparent;
  display: flex;
  flex-shrink: 0;
  position: relative;
  text-align: center;

  &.undetermined {
    align-items: center;
    display: flex;
    justify-content: center;
    
    .game-matchup-side-content {
      .profile-icon {
        font-size: 2em;
        height: 80px;
        margin: auto;
        width: 80px;
      }
      
      .game-matchup-side-username {
        display: block;
        margin: auto;
        margin-top: 5px;
      }
    }
  }

  .game-matchup-side-border {      
    border-radius: 10px;
    flex-shrink: 0;
    width: 2px;
  }

  .game-matchup-side-content {
    flex-grow: 1;
    width: 200px;

    .game-matchup-side-player-icon {
      position: relative;
      z-index: 2;

      .profile-icon {
        font-size: 2em;
        height: 80px;
        margin: auto;
        width: 80px;
      }

      .player-level-mini-badge-wrapper {
        bottom: -2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        
        .player-level-mini-badge {            
          background-color: gray(40);
          box-shadow: 0px 0px 20px 5px rgba(white, 0.2);
        }
      }
    }

    .game-matchup-side-username-wrapper {
      align-items: center;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      margin-top: 5px;
    }

    .game-matchup-side-username {
      font-size: 1em;
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-shadow: 0px 0px 1px rgba(black, 0.75);
      white-space: nowrap;
    }

    .game-matchup-side-name {
      color: white;
      font-size: 0.9em;
      overflow: hidden;
      margin: auto;
      margin-top: 2px;
      max-width: 160px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .game-matchup-side-leader-label {
      margin-top: 10px;
      justify-content: center;

      i, h1 {        
        text-shadow: 0px 0px 1px rgba(black, 0.75);
      }

      i {
        font-size: 0.7em;
      }

      h1 {
        margin-left: 5px;
      }
    }
  }
}

@include phone-or-smaller {
  .game-matchup-side {
    .game-matchup-side-content {
      width: 160px;

      .game-matchup-side-username-wrapper {
        flex-direction: column;
      }
    }
  }
}

@include medium-phone-or-smaller {
  .game-matchup-side {  
    &.undetermined {
      .game-matchup-side-content {
        .profile-icon {
          font-size: 1.5em;
          height: 60px;
          width: 60px;
        }
        
        .game-matchup-side-username {
          font-size: 0.9em;
        }
      }
    }
      
    .game-matchup-side-content {
      width: 120px;

      .game-matchup-side-player-icon {
        .profile-icon {
          font-size: 1.5em;
          height: 60px;
          width: 60px;
        }

        .player-level-mini-badge-wrapper {
          .player-level-mini-badge {      
            padding: 1px 2px;

            i {
              font-size: 0.45em;
            }
  
            > h1 {
              font-size: 0.7em;
            }
          }
        }
      }
      
      .game-matchup-side-username-wrapper {
        .game-matchup-side-username{
          font-size: 0.9em;
          max-width: 110px;
        }
      }

      .game-matchup-side-name {
        font-size: 0.8em;
        max-width: 110px;
      }
    }
  }
}

@include small-phone-or-smaller {
  .game-matchup-side {
    padding: 10px 5px;

    .game-matchup-side-content {
      width: 100px;

      .game-matchup-side-username-wrapper {
        .game-matchup-side-username{
          max-width: 90px;
        }
      }

      .game-matchup-side-name {
        max-width: 90px;
      }
    }
  }
}