.sign-in-to-do-this-message {
  display: flex;
  flex-direction: column;

  .sign-in-to-do-this-message-image-wrapper {
    margin: auto;
    position: relative;
    width: 100%;
    z-index: 2;

    .sign-in-to-do-this-message-image {
      background-color: white;
      background-position: 50% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 6px;
      box-shadow: $shadow1;
      height: 300px;
      position: relative;
      width: 100%;
    }
  }

  .sign-in-to-do-this-text {
    color: white;
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    z-index: 2;
  }

  .sign-in-link {
    margin: auto;
    margin-top: 20px;
    max-width: 400px;
  }
}

@include phone-or-smaller {
  .sign-in-to-do-this-message {
    .sign-in-to-do-this-message-image-wrapper {   
      .sign-in-to-do-this-message-image {
        height: 200px;
      }
    }
  }
}