.game-matchup {
  padding: 10px 0px;

  &:nth-of-type(n + 2) {
    border-top: 1px solid rgba(white, 0.25);
  }

  .game-matchup-header{    
    display: flex;
    justify-content: flex-end;
  }

  .toggle-prediction-button {
    background-color: rgba(white, 0.1);
    border: 1px solid rgba(white, 0.2);  
    margin-top: 10px;
    padding: 15px 10px;
    width: 100%;

    &:hover,
    &:focus {
      background-color: rgba(white, 0.2);
      color: $themeMain;
    }
  }
}