.game-matchup {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &:nth-of-type(n + 2) {
    border-top: 1px solid rgba(white, 0.25);
  }

  .game-matchup-vs-label {
    color: white;
    font-size: 2em;
    margin: 0px 20px;
  }
}