#accept-invite-modal {
  .modal-content-wrapper {
    max-width: 540px;

    .form-body {
      background: linear-gradient(to right, rgba(white, 0.05) 2%, transparent 50%, rgba(white, 0.05) 98%);   
      border: 2px solid transparent;
      border-left: 2px solid rgba(white, 0.6);
      border-radius: 10px;
      border-right: 2px solid rgba(white, 0.6);
      padding: 10px;

      .label.game-date-status {
        margin: 19px 20px;
        position: absolute;
        right: 0px;
        top: 0px;
      }

      .game-name {
        color: gray(230);
        font-size: 2em;
        margin-top: 5px;
      }
    }
  }
}