.modal-wrapper {
  background-color: rgba(gray(20), 0.8);
  pointer-events: all;
  height: 100vh;
  left: 0px;
  overflow: auto;
  position: fixed;
  scroll-behavior: smooth;
  top: 0px;
  width: 100%;
  z-index: 9998;

  &.priority {
    z-index: 9999;
  }

  &.closeable {
    .modal-content-wrapper { 
      .modal-content {
        .modal-title {      
          h1 {
            color: gray(200);
            font-size: 2em;
            text-align: left;
            width: calc(100% - 60px);
          }
        }
      }
    }
  }

  .modal-content-wrapper { 
    padding: 20px 0px;

    .modal-content {
      padding: 20px;

      .modal-title {           
        margin-bottom: 20px;
        min-height: 36px;
        position: relative;
    
        .close-button {  
          background-color: transparent;      
          position: absolute;
          right: 0px;
          top: 0px;
          
          &:hover,
          &:focus {
            color: $themeMain;
          }

          i {
            height: 36px;
            line-height: 36px;
            width: 36px;
          }
        }

        h1 {
          color: gray(200);
          font-size: 2em;
          text-align: left;
          width: 100%;
          
          &:after {
            background-color: $themeMain;
            bottom: -4px;
            content: "";
            height: 2px;
            left: 0px;
            position: absolute;
            width: 50px;
          }    
        }
      }

      .modal-status-message {
        border-radius: 6px;
        margin-top: 10px;
        padding: 15px 10px;

        &.success {
          background-color: rgba($green, 0.15);

          h1 {
            color: $green;
          }
        }

        &.error {
          background-color: rgba($red, 0.15);

          h1 {
            color: $red;
          }
        }

        h1 {
          font-size: 1.1em;
          font-weight: 400;
        }
      }

      .modal-actions {
        margin-top: 20px;
    
        .submit-button {
          font-size: 2em;
          width: 100%;
    
          &:nth-child(n + 2) {
            margin-top: 10px;
          }
        }
    
        a.submit-button {
          width: calc(100% - 40px);
        }
      }
    }
  }
}

@include phone-or-smaller {
  .modal-wrapper {
    background-color: rgba(gray(20), 0.98);

    .modal-content-wrapper { 
      animation: fadeIn 400ms ease-in;
      margin-top: 0px;
      padding: 0px 20px;
      padding-top: 20px;
      width: calc(100% - 40px);

      .modal-content {
        padding: 20px 0px;
      }
    }
  }
}

@include phone-or-larger {
  .modal-wrapper {  
    .modal-content-wrapper {     
      animation: fadeInCenteredX 400ms ease-in;
      left: 50%;
      margin: 20px auto;
      min-width: 500px;
      transform: translateX(-50%);
      position: absolute;

      .modal-content {
        background-color: gray(30);
        border-radius: 10px;
        box-shadow: $shadow3;
      }
    }
  }
}