#gift-game-days-wrapper {
  background-color: $themeMainAccent;
  border-radius: 6px;   
  box-shadow: $shadow1;
  padding: 10px;

  &.loading {
    #gift-game-days-form {
      #gift-game-days-input-button {
        i {
          animation: spin 2s ease-in-out infinite;  
        }
      }
    }
  }

  #gift-game-days-form {
    display: flex;
    gap: 1em;
    justify-content: space-between;

    #gift-game-days-inputs {
      display: flex;
      gap: 1em;

      .input-wrapper {
        flex-grow: 1;
      }
    }

    #gift-game-days-input-button {
      height: 50px;

      i {
        font-size: 1.25em;
      }
    }
  }

  .gift-game-days-error-message {
    background-color: rgba($red, 0.8);
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    padding: 15px 10px;
  }
}

@include phone-or-smaller {
  #gift-game-days-wrapper {

    #gift-game-days-form {
      flex-direction: column;

      #gift-game-days-inputs {
        flex-direction: column;
        width: 100%;
      }
    }
  }
}