.game-event-type {
  width: 120px;
  
  h1 {
    border: 1px solid rgba(white, 0.2);
    border-radius: 4px;
    color: gray(230);
    font-size: 0.9em;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
  }
}