@import "./components/acceptInviteModal/acceptInviteModal.scss";
@import "./components/gameTimeline/gameTimeline.scss";
@import "./components/gameActions/gameActions.scss";
@import "./components/gameDay/gameDay.scss";
@import "./components/gameDayGiftingSection/gameDayGiftingSection.scss";
@import "./components/gameDayStepLeaderboard/gameDayStepLeaderboard.scss";
@import "./components/gamePageContent/gamePageContent.scss";
@import "./components/invitePlayersModal/invitePlayersModal.scss";
@import "./components/matchup/matchup.scss";
@import "./components/matchupSide/matchupSide.scss";
@import "./components/matchupSides/matchupSides.scss";
@import "./components/matchupSideStats/matchupSideStats.scss";
@import "./components/matchupSpreadStatus/matchupSpreadStatus.scss";
@import "./components/myPoints/myPoints.scss";
@import "./components/myPrediction/myPrediction.scss";
@import "./components/predictionModal/predictionModal.scss";
@import "./components/simulatedPredictionOutcome/simulatedPredictionOutcome.scss";
@import "./components/startingSoonMessage/startingSoonMessage.scss";
@import "./components/updateGameModal/updateGameModal.scss";
@import "./components/viewGameTimelineModal/viewGameTimelineModal.scss";
@import "./components/viewPlayersModal/viewPlayersModal.scss";

#game-page {
  .page-content-filter {
    opacity: 0.8;
  }

  .page-background-graphic-image {    
    bottom: 0px;
    height: 150vh;
    top: auto;
    transform: translate(-50%, 0px);
    width: 265vh;
    z-index: 1;

    &.preview {
      transform: translate(-50%, 0px) scale(1.1);
    }
  }
}