.my-points-modal {
  animation: fadeIn 400ms ease-in;
  bottom: 10px;
  left: 0px;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 2;

  .my-points-wrapper {
    margin: auto;
    max-width: 1200px;

    .my-points {     
      background-color: gray(30);
      border-radius: 10px;
      box-shadow: $shadow1;
      display: inline-block;
      margin-left: 270px;
      padding: 4px;
      position: relative;

      .my-points-content-wrapper {
        background-color: gray(30);
        border: 1px solid gray(60);
        border-radius: 10px;
        padding: 10px 20px;
        position: relative;
        z-index: 2;

        .my-points-content {    
          align-items: center;
          display: flex;
          justify-content: flex-start;
          pointer-events: all;

          .my-points-icon {
            border-right: 1px solid rgba(white, 0.2);
            color: $themeMainDark;
            font-size: 2em;
            margin-right: 10px;
            padding-right: 10px;
          }

          .my-total-points-wrapper,
          .my-available-points-wrapper {
            .my-total-points,
            .my-available-points {
              > h1 {
                font-size: 2em;
                height: 30px;
                line-height: 30px;
              }
            }

            .my-available-points-label,
            .my-total-points-label {
              color: white;
              font-size: 0.8em;
              text-transform: uppercase;
            }
          }

          .my-available-points-wrapper {
            .my-available-points {
              > h1 {
                color: white;
              }
            }
          }
          
          .my-total-points-wrapper {
            margin-left: 10px;

            .my-total-points {
              > h1 {
                color: $themeMainDark;
              }
            }
          }
        }
      }
    }
  }
}

@include tablet-or-smaller {
  .my-points-modal {
    .my-points-wrapper {
      .my-points {
        margin-left: 70px;
      }
    }
  }
}

@include phone-or-smaller {
  .my-points-modal {
    bottom: 70px;

    .my-points-wrapper {
      .my-points {
        margin-left: 20px;
      }
    }
  }
}