.my-points-modal {
  animation: fadeIn 400ms ease-in;
  bottom: 10px;
  left: 0px;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 2;

  .my-points-wrapper {
    margin: auto;
    max-width: 1200px;

    .my-points {     
      background-color: gray(30);
      border-radius: 10px;
      box-shadow: $shadow1;
      display: inline-block;
      margin-left: 270px;
      padding: 4px;

      .my-points-content-wrapper {
        border: 1px solid gray(60);
        border-radius: 10px;
        padding: 5px 20px;

        .my-points-content {    
          display: flex;
          flex-direction: column;
          justify-content: center;
          pointer-events: all;

          .my-total-points-wrapper,
          .my-available-points-wrapper {
            align-items: center;
            display: flex;
            flex-direction: column;

            .my-total-points-label,
            .my-available-points-label {
              color: $themeMain;
              font-size: 0.8em;              
              text-transform: uppercase;

              .divider {
                color: rgba(white, 0.5);
                font-size: 1.5em;
                font-weight: 400;
                margin: 0px 8px;
              }
            }
          }

          .my-available-points-wrapper {
            align-items: center;
            display: flex;
            flex-direction: column;

            .my-available-points {
              margin-top: 2px;

              i {
                font-size: 0.8em;
              }

              .label-text-wrapper {
                > h1 {
                  color: gray(230);
                  font-size: 2.25em;
                  height: 30px;
                  line-height: 30px;
                }
              }
            }
          }
          
          .my-total-points-wrapper {
            .my-total-points {
              color: $themeMain;
            }
          }
        }
      }
    }
  }
}

@include tablet-or-smaller {
  .my-points-modal {
    .my-points-wrapper {
      .my-points {
        margin-left: 70px;
      }
    }
  }
}

@include phone-or-smaller {
  .my-points-modal {
    bottom: 70px;

    .my-points-wrapper {
      .my-points {
        margin-left: 20px;
      }
    }
  }
}