.connect-a-step-tracker-item.button.fancy-button {
  align-items: center;   
  background: white;
  border-radius: 1000px;   
  box-shadow: $shadow1;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 40px;
  text-align: center;

  &:hover,
  &:focus {
    background-color: gray(240);
  }

  &.fitbit {
    .connect-a-step-tracker-logo {
      height: 40px;
    }
  }

  &.google-fit {
    .connect-a-step-tracker-logo {
      height: 60px;
    }
  }

  .connect-a-step-tracker-label {
    color: gray(40);
    font-size: 2em;
    margin-left: 0px;
    text-align: center;
  }
}

@include small-tablet-or-smaller {
  .connect-a-step-tracker-item.button.fancy-button {
    &.fitbit {
      .connect-a-step-tracker-logo {
        height: 30px;
      }
    }
  
    &.google-fit {
      .connect-a-step-tracker-logo {
        height: 50px;
      }
    }  
  }
}

@include phone-or-smaller {
  .connect-a-step-tracker-item.button.fancy-button {
    padding: 10px 30px;
    
    &.fitbit {
      .connect-a-step-tracker-logo {
        height: 25px;
      }
    }
  
    &.google-fit {
      .connect-a-step-tracker-logo {
        height: 45px;
      }
    }  
  }
}

@include small-phone-or-smaller {
  .connect-a-step-tracker-item.button.fancy-button {
    &.fitbit {
      .connect-a-step-tracker-logo {
        height: 20px;
      }
    }
  
    &.google-fit {
      .connect-a-step-tracker-logo {
        height: 35px;
      }
    }  
  }
}